.rule-content{
	padding-left:20px;
}
.parameters-text {
	padding-top:7px;
	padding-left:0px;
}
.control-label{
	margin-left: -20px;
}

.button-enable{

}

.button-disable{

}

.list-group-custom{
  height: auto;
  max-height: 500px;
  overflow-x: hidden;

  border: 1px solid #ddd;
  /*border-top: 1px solid #ddd;*/
  /*border-bottom: 1px solid #ddd;*/
  /*border-top-left-radius: 4px;*/
  /*border-top-right-radius: 4px;*/
  border-radius: 4px;
}

.list-group-item-custom{
  border: none;
  cursor: pointer;
}
.groups-modal-dialog {
	width: 70%;
}

.group-modal-body:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*this is a fix for "jumping" effect when scrollbar on the right appears: https://aykevl.nl/2014/09/fix-jumping-scrollbar*/
html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
}

td.col-md-4.rulebuttons {
	text-align:right;
}

.st-sort-ascent:after{
  content: '\25B2';
}

.st-sort-descent:after{
  content: '\25BC';
}

.st-selected{
  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
}

