<div class="row">
  <div class="col-md-12">
    <form name="serviceAuthByEmailForm" novalidate>
      <div class="form-group"
           ng-class="{ 'has-error': serviceAuthByEmailForm.authEmail.$dirty && serviceAuthByEmailForm.authEmail.$invalid }">
        <label class="col-md-3 col-xs-3 control-label">
          Электронный адрес:
        </label>
        <div class="col-md-9 col-xs-9" >
          <input ng-model="authByEmail.email"
                 class="form-control"
                 type="email"
                 name="authEmail"
                 placeholder="email"
                 required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" ng-disabled="serviceAuthByEmailForm.$invalid" ng-click="authorizeByEmail(authByEmail)">
        Авторизоваться
      </button>
      </form>
  </div>
  <div class="text-center" ng-show="error">
    <p>{{error}}</p>
  </div>
</div>

