<span ng-transclude></span>
<button style="display: none;" class="btn btn-info"><i class="icon-door-lock"></i><span
  class="btn-text">igov.org.ua</span></button>

<span class="dropdown bank-id-banks-dropdown" ng-class="{'open':showBankIdDropdown}">
  <button class="btn btn-info"  ng-click="bankIdClick()"
          ng-if="!authMethods || authMethods.indexOf('BankID') > -1 || authMethods.indexOf('BankID-NBU') > -1">
    <i class="icon-bank-id"></i>
    <span class="btn-text">BankID</span>
  </button>

  <ul class="dropdown-menu">
    <li>
      <a ng-repeat="provider in bankidProvidersList"
         ng-href="{{::getBankIdAuthUrl(provider)}}"
         ng-bind="::provider.name" target="_self"
         ng-if="(authMethods.indexOf('BankID') > -1 && provider.auth=='BankID')
             || (authMethods.indexOf('BankID-NBU') > -1 && provider.auth=='BankID-NBU') || true"></a>
    </li>
  </ul>
</span>

<button style="display: none;" class="btn"><i class="icon-mobil-id"></i></button>
<a class="btn btn-info_ btn-success i-btn-badge" target="_self"
   ng-href="{{$location.protocol()}}://{{$location.host()}}:{{$location.port()}}/auth/eds?link={{redirectUri}}"
   ng-if="!authMethods || authMethods.indexOf('EDS') > -1">
  <i class="icon-badge"></i>
  <span class="btn-text"><div>Сертифікат електронно-</div><div>цифрового підпису</div></span>
</a>
<button style="display: none;" class="btn"><i class="icon-mobil-id"></i></button>
<a class="btn btn-info_ btn-success i-btn-badge" target="_self"
   ng-href="{{$location.protocol()}}://{{$location.host()}}:{{$location.port()}}/auth/mpbds?link={{redirectUri}}"
   ng-if="!authMethods || authMethods.indexOf('mpbds') > -1">
  <i class="icon-badge"></i>
  <span class="btn-text">IDcard</span>
</a>
<button ng-click="loginWithEmail()"
        ng-if="!authMethods || authMethods.indexOf('email') > -1"
        class="btn btn-info">
  <span class="btn-info"><div>Email</div></span>
</button>
<a class="btn btn-info_ btn-success_ icon-auth-kk" target="_self"
   ng-href="{{$location.protocol()}}://{{$location.host()}}:{{$location.port()}}/auth/soccard?link={{redirectUri}}"
   ng-if="!authMethods || authMethods.indexOf('KK') > -1">
</a>
<button-create-cookie></button-create-cookie>
