<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="todo">
        <!--<h1>{{iGovTitle}}</h1>-->
        <div class="profileBlock">
          <div class="text-left">
            <h4>Користувач</h4>
          </div>
          <div class="form-group  my-group">
            <div class="userName">
              <p>ПІБ : <span>Іванов Іван Іванович</span></p>
              <p>Логін : <span>%employee_login%</span> </p>
            </div>
            <label class="myLabel">Контактний телефон : </label>
            <input type="number" min="0" class="form-control" placeholder="+380 "/> <br><br>
            <label class="myLabel">Контактний e-mail : </label>
            <input type="email" class="form-control"/>
          </div>
        </div>
        <div class="password-block">
          <div class="text-left">
            <h4>Зміна пароля</h4>
          </div>
            <div class="form-group  my-group">
              <label class="myLabel">Введіть існуючий пароль : </label>
              <input type="password"  class="form-control"/> <br><br>
              <label class="myLabel">Введіть новий пароль : </label>
              <input type="password"  class="form-control"/> <br><br>
              <label class="myLabel">Введіть новий пароль : </label>
              <input type="password" class="form-control"/> <br><br>
              <button class="btn btn-success">Зберегти</button>
              <button class="btn btn-default">Скасувати</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
