.todo {
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 71px;
  text-align: center;
}
.todo h4 {
  color: #BEBEBE;
}
.todo .my-group .myLabel {
  font-weight: normal;
  text-align: right;
}
.todo input {
  max-width: 240px;
  display: inline-block;
}
.profileBlock {
  border-bottom: 1px solid #ddd;
}
.userName {
  margin-right: 18%;
  font-weight: bold;
}
.userName span {
  font-weight: normal;
}
.my-group {
  text-align: right;
  margin-right: 50%;
}
