<div class="list-group">
  <place></place>

  <style>
    .ui-select-match-text {
      overflow: hidden;
      width: inherit;
      padding-right: 10px;
    }

    .ui-select-match-text * {
      overflow: hidden;
      display: block;
    }

    .form-control.ui-select-search {
      width: 100% !important;
    }

    .dropdown-menu {
      padding-top: 0;
    }

    @media (max-width: 767px) {
      .ui-select-bootstrap>.ui-select-choices {
        width: 400px;
      }
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      .ui-select-bootstrap>.ui-select-choices {
        width: 620px;
      }
    }
    @media (min-width: 1200px) {
      .ui-select-bootstrap>.ui-select-choices {
        width: 620px;
      }
    }
  </style>

  <div class="list-group-item disabled" ng-if="!spinner">
    <div class="row no-margin-bottom">
      <div ng-if="!profile.isKyivCity" class="col-md-11">Крок 2. Ви увійшли як
        {{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}
      </div>
      <div ng-if="profile.isKyivCity" class="col-md-11">Крок 1. Ви увійшли як
        {{account.customer.firstName}} {{account.customer.middleName}} {{account.customer.lastName}}
      </div>
      <div class="col-md-1">
        <div class="link-button">
          <a ng-click="editBankId()">Змінити</a>
        </div>
      </div>
    </div>
  </div>

  <div class="list-group-item" ng-if="!spinner">
    <div class="row">
      <div ng-if="!profile.isKyivCity" class="col-md-6 pull-left">Крок 3.
        {{data.formData.params["processName"].name==null?"":data.formData.params["processName"].name}}
      </div>
      <div ng-if="profile.isKyivCity" class="col-md-6 pull-left">Крок 2.
        {{data.formData.params["processName"].name==null?"":data.formData.params["processName"].name}}
      </div>
      <div ng-show="bAdmin" class="col-md-6 pull-right">
        <!--div ng-if="bAdmin" style="/*display:none;*/" class="col-md-6 pull-right"-->
        <label for="ref" class="pull-right"> Заповнення референтом</label>
        <input type="checkbox" ng-model="data.formData.params.bReferent.value" ng-change="onReferent" id="ref" class="pull-right">
      </div>
    </div>
    <div class="row" ng-if="data.formData.params.bReferent.value">
      <div class="col-md-12">
        <div class="highlight-yellow">
          <div class="row"
               ng-repeat="property in activitiForm.formProperties track by property.id"
               ng-if="data.formData.params.bReferent.value && property.id.startsWith('bankId')">

            <div class="col-md-5"
                 ng-if="property.type!='invisible' && property.type!='markers' && property.type != 'file'">
              <label style="color: red;"
                     ng-if="isFieldRequired(property)==true">* </label>
              {{property.sFieldLabel}}:

              <div class="s-field-notes"
                   ng-if="property.sFieldNotes!=null">
                {{property.sFieldNotes}}
              </div>
            </div>

            <div class="col-md-3"  ng-hide="property.type === 'file'">
              {{persistValues[property.id].value}}
              <input type="hidden"
                     name="{{property.id}}"
                     ng-model="persistValues[property.id].value"
                     ng-required="isFieldRequired(property)"
                     class="form-control"
                     value="{{persistValues[property.id].value}}">
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="highlight">
          <form name="form" novalidate>
            <div class="clearfix" ng-if="oServiceData.oPlace">
                <a class="pull-right" ng-hide="paramsBackup !== null" href ng-click="fillSelfPrevious()">Заповнити даними попередньої заявки</a>
                <a class="pull-right" ng-hide="paramsBackup === null" href ng-click="fillSelfPreviousBack()">Відмінити авто-заповнені дані</a>
            </div>

              <div class="row col-md-12 update-bankid-message" ng-show="isShowMessageRequiringToValidateUserData()">
                  Якщо ці або будь-які інші дані, які були передані з Вашого банку, вже не актуальні,
                  просимо Вас звернутися до цього банку для актуалізації.
              </div>

            <div class="row"
                 style="margin-bottom: 20px"
                 ng-repeat="property in activitiForm.formProperties track by property.id"
                 ng-if="isFieldVisible(property) && property.id !== 'form_signed' && property.id !== 'form_signed_all' && fieldHasVisibleType(property)">

              <div class="addition-hr" ng-if="insertSeparator(property.id).bShow">
                <div ng-if="insertSeparator(property.id).sText.length > 0" class="flex-hr wrap-hr" style="width: 100%">
                  <div><b>{{insertSeparator(property.id).sText}}</b></div>
                  <div class="line-separator"></div>
                </div>
                <div ng-if="insertSeparator(property.id).sText.length == 0" style="width: 100%">
                  <div class="line-separator-full"></div>
                </div>
              </div>

              <div id="label-{{property.id}}" class="col-md-5"
                   ng-if="property.type!='invisible' && property.type!='markers' && property.type!='table' && !(property.type==='label' && isSetClasses(property))">
                <span ng-if="property.sFieldLabel">
                    {{property.sFieldLabel}}<label class="red-star" ng-if="isFieldRequired(property)==true">* </label>
                </span>

                <div class="s-field-notes"
                     ng-if="property.sFieldNotes!=null">
                  {{property.sFieldNotes}}
                </div>

                <div ng-if="isOKPOField(property.id)">
                  <p style="font-size: 12px;color: darkgrey">Після того, як Ви напишете ЄДРПОУ, поля нижче будуть заповнені автоматично.
                    Дані юрособи можуть бути застарілими (затримка до одного тижня), тому
                    Ви маєте можливість їх редагувати.</p>
                </div>

                <div class="inner-html s-field-notes" ng-if="property.options && (property.options.html || property.options.HTML)" ng-bind-html="property.options.html">
                </div>
              </div>


              <div id="field-{{property.id}}" class="col-md-3"
                   ng-class="{'has-error': form.$submitted && form[property.id].$invalid, 'col-md-12': property.type === 'table' || (property.type === 'label' && isSetClasses(property)), 'col-md-7': property.type === 'fileHTML'}"
                   ng-if="showFormField(property)"
                   ng-switch
                   on="property.type">
                                <textarea ng-switch-when="textArea"
                                          name="{{property.id}}"
                                          ng-model="data.formData.params[property.id].value"
                                          ng-required="isFieldRequired(property)"
                                          ng-class="getBpAndFieldID(property)"
                                          class="form-control"></textarea>
                <label ng-switch-when="label"
                       name="{{property.id}}"
                       ng-required="isFieldRequired(property)"
                       class="form-control_ {{labelStyle(property)}}"
                       ng-bind-html="htmldecode(data.formData.params[property.id].value)">
                 </label>

                <dropdown-country ng-switch-when="string"
                                  ng-if="property.id==='resident' || property.id === 'sCountry'"
                                  ng-model="data.formData.params[property.id].value"
                                  ng-class="getBpAndFieldID(property)"
                                  service-data="oServiceData"
                                  ng-required="isFieldRequired(property)"></dropdown-country>

                <div class="col-md-12 field-table" ng-switch-when="table" ng-class="getBpAndFieldID(property)">
                  <table ng-init="tableName = property.id">

                    <thead>

                    <tr class="table-thead">
                      <th ng-repeat="item in property.aRow[0].aField" ng-style="{'width' : item.nWidth}">
                        <span>{{item.sFieldLabel || item.name}}</span>
                        <span style="display: block; text-align: center" class="s-field-notes"
                             ng-if="item.sFieldNotes!=null">
                          {{item.sFieldNotes}}
                        </span>
                      </th>
                      <th style="width:30px;border:none; background-color: transparent"></th>
                    </tr>

                    </thead>

                    <tbody ng-form='{{tableName}}'>

                    <tr ng-repeat="row in property.aRow track by $index" ng-init="rowIndex=$index">

                      <td ng-repeat="item in row.aField track by $index" style="border: 1px solid lightgrey">
                        <div ng-class="getFullCellId(property, $index, rowIndex)">

                        <div ng-if="item.type == 'string'">
                          <input class="inputs-in-table"
                                 ng-if='item.hasOwnProperty("default") || !item.hasOwnProperty("default") && !item.hasOwnProperty("value")'
                                 name="{{item.id + rowIndex}}"
                                 ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                 ng-required="item.required"
                                 ng-model="item.default"
                                 ng-disabled="!isFieldWritable(item.writable)"
                                 type="text">
                          <input class="inputs-in-table"
                                 ng-if='item.hasOwnProperty("value")'
                                 name="{{item.id + rowIndex}}"
                                 ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                 ng-required="item.required"
                                 ng-model="item.value"
                                 ng-disabled="!isFieldWritable(item.writable)"
                                 type="text">
                        </div>

                        <div ng-if="item.type == 'enum'">
                          <select name="{{item.id + rowIndex}}"
                                  ng-required="item.required"
                                  ng-model="item.value"
                                  ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                  ng-options="oEnumValue.id as oEnumValue.name for oEnumValue in item.a"
                                  ng-disabled="!isFieldWritable(item.writable)"
                                  class="inputs-in-table">
                          </select>
                        </div>

                        <div ng-if="item.type == 'file'">
                          <div dropdown class="dropup" style="display: inline-block; position:relative;">
                            <div class="like-modal dropdown-menu" role="menu">
                              <file-field style="text-align: center"
                                          name="{{item.id + rowIndex}}"
                                          ng-model="item.value"
                                          ng-required="isFieldRequired(item)"
                                          ng-if="item.upload">Add File</file-field>
                            </div>
                            <button style="position:relative;"
                                    title="{{item.fileName}}"
                                    ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                    name="{{item.id + rowIndex}}"
                                    ng-disabled="isFormPropertyDisabled(item) || isFileProcessUploading.bState"
                                    ng-if="item.fileName"
                                    type="button"
                                    dropdown-toggle
                                    class="btn btn-default dropdown-toggle">{{item.fileName | cut : true : 15}}</button>
                            <file-field name="{{item.id}}"
                                        ng-model="item.value"
                                        ng-required="isFieldRequired(item)"
                                        ng-if="item.upload && !item.fileName">Add File</file-field>
                          </div>
                        </div>

                        <div ng-if="item.type == 'long'">
                          <input name="{{item.id + rowIndex}}"
                                 ng-if="item.hasOwnProperty('default') || !item.hasOwnProperty('default') && !item.hasOwnProperty('value')"
                                 ng-required="item.required"
                                 ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                 ng-model="item.default"
                                 class="inputs-in-table"
                                 ng-disabled="!isFieldWritable(item.writable)"
                                 type="number">
                          <input name="{{item.id + rowIndex}}"
                                 ng-if="item.hasOwnProperty('value')"
                                 ng-required="item.required"
                                 ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                 ng-model="item.value"
                                 class="inputs-in-table"
                                 ng-disabled="!isFieldWritable(item.writable)"
                                 type="number">
                        </div>

                        <div ng-if="item.type == 'date'">
                          <!--заменить на директиву-->
                          <p class="input-group datepicker-central">
                            <input type="text"
                                   ng-required="item.required"
                                   name="{{item.id + rowIndex}}"
                                   datepicker-popup="{{item.props.format}}"
                                   is-open="item.props.opened"
                                   datepicker-options="item.props.options"
                                   ng-model="item.props.value"
                                   ng-readonly="true"
                                   ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                   close-text="Close"
                                   class="form-control"
                                   ng-disabled="!isFieldWritable(item.writable)"
                                   value="item.props.value | fixDateFormat">
                            <span class="input-group-btn">
                              <button type="button"
                                      class="btn btn-link"
                                      style="background: white;outline: none;"
                                      ng-click="item.props.open($event)">
                                      <i class="glyphicon glyphicon-calendar" style="color:green;"></i>
                              </button>
                            </span>
                            <!--calendar-modal-window-->
                            <script id="template/datepicker/popup.html" type="text/ng-template">
                              <ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px', overflow: 'hidden'}" ng-keydown="keydown($event)">
                                <li ng-transclude style="margin-top:0"></li>
                                <li ng-if="showButtonBar" style="margin-top:0; text-align: center">
                                  <button type="button" class="btn btn-sm btn-link" style="color: black; font-weight: bold" ng-click="select(null)">{{ getText('clear') }}</button>
                                </li>
                              </ul>
                            </script>
                            <!--calendar-year-template-->
                            <script id="template/datepicker/year.html" type="text/ng-template">
                              <table  role="grid" class="calender" style="outline: none; margin:5px" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
                                <thead>
                                <tr>
                                  <th>
                                    <button type="button" class="btn btn-link btn-sm pull-left" style="color: black;" ng-click="move(-1)" tabindex="-1">
                                      <i class="glyphicon glyphicon-arrow-left"></i>
                                    </button>
                                  </th>
                                  <th colspan="3">
                                    <button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;">
                                      <strong style="color: black; font-size: 14px">Рік</strong>
                                    </button>
                                  </th>
                                  <th>
                                    <button type="button" class="btn btn-link btn-sm pull-right" style="color: black;" ng-click="move(1)" tabindex="-1">
                                      <i class="glyphicon glyphicon-arrow-right"></i>
                                    </button>
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in rows track by $index">
                                  <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass">
                                    <button type="button" style="min-width:100%;" class="btn btn-link" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="::{'text-info': dt.current}" style="color:black">{{::dt.label}}</span></button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </script>
                            <!--calendar-month-template-->
                            <script id="template/datepicker/month.html" type="text/ng-template">
                              <table role="grid" class="calender" style="outline: none; margin:5px" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
                                <thead>
                                <tr>
                                  <th colspan="3"><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%">
                                    <strong style="color:black; font-size: 14px">{{title}}</strong>
                                  </button>
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in rows track by $index">
                                  <td ng-repeat="dt in row track by dt.date" class="text-center months" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass">
                                    <button type="button" style="min-width:100%; padding:10px" class="btn btn-link" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
                                      <span ng-class="::{'text-info': dt.current}" style="color:black; font-size:16px">{{::dt.label}}</span>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </script>
                            <!--calendar-day-template-->
                            <script id="template/datepicker/day.html" type="text/ng-template">
                              <table role="grid" class="calender" style="outline: none;" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
                                <thead>
                                <tr>
                                  <th class="month-year-heading" colspan="7">
                                    <button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;">
                                      <strong style="color:black; font-size: 14px">{{title}}</strong>
                                    </button>
                                  </th>
                                </tr>
                                <tr>
                                  <th ng-repeat="label in labels track by $index" class="text-center">
                                    <small aria-label="{{label.full}}">{{label.abbr}}</small>
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in rows track by $index">
                                  <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass" ng-mouseover="">
                                    <button type="button" style="min-width:100%; color: black;" class="btn btn-link btn-sm" ng-class="{'btn-primary': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
                                      <span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">{{::dt.label}}</span>
                                    </button>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </script>

                          </p>
                          <!--заменить на директиву-->
                        </div>

                        <div ng-if="item.type === 'select'">
                          <dropdown-organ ng-if="item.id==='sID_Public_SubjectOrganJoin'"
                                          ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                          ng-model="item.value"
                                          form-data-property="item"
                                          service-data="oServiceData"
                                          activiti-form="activitiForm"
                                          ng-required="item.required"
                                          form-data="data.formData"
                                          ng-disabled="!isFieldWritable(item.writable)"
                                          name="item.id"></dropdown-organ>

                          <ui-select dropdown-autocomplete ng-if="item.selectType=='autocomplete'"
                                     ng-model="item.value"
                                     name="{{item.id + rowIndex}}"
                                     ng-class="{'table-field-invalid': form.$submitted && form[tableName][item.id + rowIndex].$invalid || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName}"
                                     service-data="oServiceData"
                                     ng-required="item.required"
                                     autocomplete-data="item.autocompleteData"
                                     autocomplete-name="item.autocompleteName"
                                     form-data="data.formData"
                                     reach-infinity="requestMoreItems($select.items)"
                                     ng-disabled="!isFieldWritable(item.writable)"
                                     on-select="onSelectDataList($item, tableName, rowIndex, item)">

                            <ui-select-match>
                              {{$select.selected[autocompleteData.titleProperty] || item.value}}
                            </ui-select-match>
                            <ui-select-choices refresh="refreshList(item.autocompleteData.titleProperty, $select.search)"
                                               refresh-delay="300"
                                               repeat="field[item.autocompleteData.valueProperty] as field in items track by field[item.autocompleteData.orderBy]">
                               <span title="{{field[item.autocompleteData.titleProperty]}}">
                                 {{field[item.autocompleteData.titleProperty]}}
                               </span>
                            </ui-select-choices>
                          </ui-select>
                        </div>

                        <div style="padding:5px"
                             class="error-popup"
                             ng-messages="form[tableName][item.id + rowIndex].$error" ng-if="form.$submitted && form[tableName][item.id + rowIndex].$invalid
                                          || tableIsInvalid && form[tableName][item.id + rowIndex].$invalid && invalidTableNum === tableName">
                          <span ng-message="required">Необхідно заповнити.</span>
                          <span ng-message="pattern">Значення має бути числом.</span>
                          <span ng-message="email">Помилка в email.</span>
                          <span ng-message="tel">Помилка в номері телефону.</span>
                          <span ng-message="autovin">Помилка у VIN-номері авто.</span>
                          <span ng-message="textua">Текст може містити тількі українські літери або мінус чи пробіл.</span>
                          <span ng-message="textru">Текст може містити тількі російські літери або мінус чи пробіл.</span>
                          <span ng-message="dateformat">Дата може бути тільки формату DATE_FORMAT.</span>
                          <span ng-message="dateelapsed">З/до дати з/після сьогоднішньої, має бути більше/менше ніж х-днів,
                            х-місяців, х-років.
                          </span>
			              <span ng-message="string">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
			              <span ng-message="long">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
			              <span ng-message="double">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
                          <span ng-message="numberbetween">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
                          <div ng-message="numberfractionalbetween">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</div>
                          <span ng-message="numbersaccounts">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
                          <span ng-message="dateofbirth">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
                          <span ng-message="CustomFormat">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
                          <span ng-message="CodeKVED">Такого КВЕД не існує - (ви не можете вписувати літери)</span>
                          <span ng-message="CodeEDRPOU">Такий код ЄДРПОУ не існує - (ви не можете вписувати літери)</span>
                          <span ng-message="CodeMFO">Такого коду банку не існує - (ви не можете вписувати літери)</span>
                          <span ng-message="FileSign">Підпис не валідний або відсутній</span>
                          <span ng-message="FileExtensions">{{ form[tableName][item.id + rowIndex].lastErrorMessage }}</span>
                          <span ng-message="FieldNotEmptyAndNonZero">Будь ласка, оберiть iз запропонованого перелiку</span>
                          <span ng-message="OrderValue">Такого номеру не існує</span>
                        </div>
                        </div>
                      </td>

                      <td style="padding: 0;" ng-if="$index !== 0">
                        <a href="#" class="btn btn-default remove-btn" ng-click="removeRow($index, form[tableName], property.id)">
                          <i style="color: #FF1F1F;" class="glyphicon glyphicon-remove"></i>
                        </a>
                      </td>

                    </tr>

                    </tbody>
                  </table>

                  <div style="text-align: left; margin-top: 3px">
                    <a ng-hide="rowLengthCheckLimit(property)" ng-click="addRow(form[tableName], property.id, tableName)">+ Додати рядок</a>
                  </div>
                </div>

                <input ng-switch-when="string"
                       type="text"
                       name="{{property.id}}"
                       ng-hide="property.id==='resident' || property.id === 'sCountry' || property.id.indexOf('sCurrency') === 0 || property.id === 'sID_Merchant' || property.id.indexOf('sID_Merchant') === 0"
                       ng-model="data.formData.params[property.id].value"
                       ng-required="isFieldRequired(property)"
                       ng-class="getBpAndFieldID(property)"
                       class="form-control"
                       ng-if="!isOKPOField(property.id)"
                       value="">

                <!--field for OKPO search start-->
                <div ng-switch-when="string" ng-if="isOKPOField(property.id)">
                  <div class="okpo" ng-if="isOKPOField(property.id)">
                    <input type="text"
                           name="{{property.id}}"
                           ng-model="data.formData.params[property.id].value"
                           ng-required="isFieldRequired(property)"
                           ng-class="getBpAndFieldID(property)"
                           ng-change="getOrgData(data.formData.params[property.id].value, property.id)"
                           class="form-control okpo-field"
                           ng-model-options="{debounce:1000}"
                           value="">
                    <span class="small-loading-okpo okpo-spinner"
                          ng-if="orgIsLoading.status && orgIsLoading.field === property.id"></span>
                  </div>
                </div>
                <!--field for OKPO search end-->

                <button ng-switch-when="string"
                        type="button"
                        name="{{property.id}}"
                        ng-if="property.id === 'sID_Merchant' || property.id.indexOf('sID_Merchant') === 0"
                        ng-model="data.formData.params[property.id].value"
                        ng-disabled="!data.formData.params[property.id].value"
                        ng-required="isFieldRequired(property)"
                        ng-class="getBpAndFieldID(property)"
                        ng-click="redirectPaymentLiqpay(property.id)"
                        class="btn btn-success">Сплатити</button>

                <label style="display: none;"
                       ng-switch-when="invisible"
                       name="{{property.id}}"
                       ng-required="isFieldRequired(property)"
                       class="form-control_">{{data.formData.params[property.id].value}}</label>
                <label style="display: none;"
                       ng-switch-when="markers"
                       name="{{property.id}}"
                       ng-required="isFieldRequired(property)"
                       class="form-control_">{{data.formData.params[property.id].value}}</label>

                <!--type="{{!!property.sFieldType?property.sFieldType : 'text'}}"-->
                <input ng-switch-when="long"
                       type="{{!!property.sFieldType?property.sFieldType : 'text'}}"
                       name="{{property.id}}"
                       ng-model="data.formData.params[property.id].value"
                       ng-required="isFieldRequired(property)"
                       ng-class="getBpAndFieldID(property)"
                       class="form-control"
                       value="">

                <input ng-switch-when="double"
                       type="{{!!property.sFieldType?property.sFieldType : 'text'}}"
                       name="{{property.id}}"
                       ng-model="data.formData.params[property.id].value"
                       ng-required="isFieldRequired(property)"
                       ng-class="getBpAndFieldID(property)"
                       class="form-control"
                       value="">

                <input ng-switch-when="tel"
                       type="text"
                       name="{{property.id}}"
                       ng-model="data.formData.params[property.id].value"
                       ng-tel-field="{defaultCountry:'ua', autoFormat:true, allowExtensions:false, preferredCountries:['ua'], autoPlaceholder:true}"
                       ng-required="isFieldRequired(property)"
                       ng-class="getBpAndFieldID(property)"
                       class="form-control"
                       value="">

                <p class="input-group datepicker-central"
                   ng-switch-when="date">

                  <input type="text"
                         name="{{property.id}}"
                         datepicker-popup="{{data.formData.params[property.id].format}}"
                         is-open="data.formData.params[property.id].opened"
                         datepicker-options="data.formData.params[property.id].options"
                         ng-model="data.formData.params[property.id].value"
                         ng-required="isFieldRequired(property)"
                         ng-readonly="true"
                         ng-class="getBpAndFieldID(property)"
                         close-text="Close"
                         class="form-control"
                         value="">
                  <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-default"
                            ng-click="data.formData.params[property.id].open($event)">
                      <i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                  <!--calendar-modal-window-->
                  <script id="template/datepicker/popup.html" type="text/ng-template">
                    <ul class="dropdown-menu" ng-style="{display: (isOpen && 'block') || 'none', top: position.top+'px', left: position.left+'px', overflow: 'hidden'}" ng-keydown="keydown($event)">
                    	<li ng-transclude style="margin-top:0"></li>
                    	<li ng-if="showButtonBar" style="margin-top:0; text-align: center">
                        <button type="button" class="btn btn-sm btn-link" style="color: black; font-weight: bold" ng-click="select(null)">{{ getText('clear') }}</button>
                    	</li>
                    </ul>
                  </script>
                    <!--calendar-year-template-->
                  <script id="template/datepicker/year.html" type="text/ng-template">
                    <table  role="grid" class="calender" style="outline: none; margin:5px" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
                      <thead>
                        <tr>
                          <th>
                            <button type="button" class="btn btn-link btn-sm pull-left" style="color: black;" ng-click="move(-1)" tabindex="-1">
                              <i class="glyphicon glyphicon-arrow-left"></i>
                            </button>
                          </th>
                          <th colspan="3">
                            <button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;">
                              <strong style="color: black; font-size: 14px">Рік</strong>
                            </button>
                          </th>
                          <th>
                            <button type="button" class="btn btn-link btn-sm pull-right" style="color: black;" ng-click="move(1)" tabindex="-1">
                              <i class="glyphicon glyphicon-arrow-right"></i>
                            </button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in rows track by $index">
                          <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass">
                            <button type="button" style="min-width:100%;" class="btn btn-link" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="::{'text-info': dt.current}" style="color:black">{{::dt.label}}</span></button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </script>
                    <!--calendar-month-template-->
                  <script id="template/datepicker/month.html" type="text/ng-template">
                    <table role="grid" class="calender" style="outline: none; margin:5px" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
                      <thead>
                        <tr>
                          <th colspan="3"><button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%">
                            <strong style="color:black; font-size: 14px">{{title}}</strong>
                          </button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="row in rows track by $index">
                          <td ng-repeat="dt in row track by dt.date" class="text-center months" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass">
                            <button type="button" style="min-width:100%; padding:10px" class="btn btn-link" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
                              <span ng-class="::{'text-info': dt.current}" style="color:black; font-size:16px">{{::dt.label}}</span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </script>
                    <!--calendar-day-template-->
                  <script id="template/datepicker/day.html" type="text/ng-template">
                    <table role="grid" class="calender" style="outline: none;" aria-labelledby="{{::uniqueId}}-title" aria-activedescendant="{{activeDateId}}">
                      <thead>
                        <tr>
                          <th class="month-year-heading" colspan="7">
                            <button id="{{::uniqueId}}-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-link btn-sm" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1" style="width:100%;">
                              <strong style="color:black; font-size: 14px">{{title}}</strong>
                            </button>
                          </th>
                        </tr>
                        <tr>
                          <th ng-repeat="label in labels track by $index" class="text-center">
                            <small aria-label="{{label.full}}">{{label.abbr}}</small>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="row in rows track by $index">
                        <td ng-repeat="dt in row track by dt.date" class="text-center" role="gridcell" id="{{::dt.uid}}" ng-class="::dt.customClass" ng-mouseover="">
                          <button type="button" style="min-width:100%; color: black;" class="btn btn-link btn-sm" ng-class="{'btn-primary': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1">
                            <span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">{{::dt.label}}</span>
                          </button>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </script>

                </p>
                <select ng-switch-when="enum"
                        name="{{property.id}}"
                        ng-model="data.formData.params[property.id].value"
                        ng-options="oEnumValue.id as oEnumValue.name for oEnumValue in property.enumValues"
                        ng-required="isFieldRequired(property)"
                        ng-class="getBpAndFieldID(property)"
                        class="form-control"></select>

                <div class="input-group"
                       ng-switch-when="checkbox">
                  <div ng-class="{'checkbox-indeterminate': data.formData.params[property.id].value === null}">
                    <input type="checkbox"
                           id="{{property.id}}"
                           name="{{property.id}}"
                           ng-class="getBpAndFieldID(property)"
                           ng-model="data.formData.params[property.id].value"
                           ng-true-value="'{{data.checkbox[property.id].trueValue}}'"
                           ng-false-value="'{{data.checkbox[property.id].falseValue}}'"
                           checkbox-indeterminate="data.formData.params[property.id].value === null"
                           ng-required="isFieldRequired(property) && data.formData.params[property.id].value === null">
                    <label for="{{property.id}}"></label>
                  </div>
                </div>

                <div class="input-group" ng-switch-when="fileHTML" style="width: 100%;display: block">
                  <div class="fileHTML">
                    <text-angular ta-toolbar="[ ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'fontColor'],
                                                ['bold', 'italics', 'underline', 'ul', 'ol', 'insertLink'],
                                                ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent', 'clear']]"
                                  ng-model="data.formData.params[property.id].value"
                                  name="{{property.id}}"
                                  ng-required="isFieldRequired(property)"
                                  ng-class="getBpAndFieldID(property)">
                    </text-angular>
                  </div>
                </div>

                <p class="input-group"
                   ng-switch-when="file">
                  <label ng-if="data.formData.params[property.id].scan && data.formData.params[property.id].isLoading"
                         name="{{property.id}}_0"
                         class="form-control_">
                    Завантаження із BankID ...</label>
                  <label ng-if="data.formData.params[property.id].scan && !data.formData.params[property.id].isLoading"
                         name="{{property.id}}_1"
                         class="form-control_">
                    Завантажено із BankID</label>
                  <file-field name="{{property.id}}"
                              ng-model="data.formData.params[property.id].value"
                              ng-required="isFieldRequired(property)"
                              ng-class="getBpAndFieldID(property)"
                              ng-if="data.formData.params[property.id].upload">Add File
                  </file-field>
                </p>

                <slot-picker ng-switch-when="queueData"
                             name="{{property.id}}"
                             service="oService"
                             service-data="oServiceData"
                             ng-model="data.formData.params[property.id].value"
                             ng-class="getBpAndFieldID(property)"
                             form-data="data.formData"
                             property="property"
                             ng-required="isFieldRequired(property)"></slot-picker>
                <div ng-switch-when="select" ng-class="getBpAndFieldID(property)">
                  <dropdown-organ ng-if="property.id==='sID_Public_SubjectOrganJoin'"
                                  ng-model="data.formData.params[property.id].value"
                                  form-data-property="data.formData.params[property.id]"
                                  service-data="oServiceData"
                                  activiti-form="activitiForm"
                                  ng-required="isFieldRequired(property)"
                                  form-data="data.formData"
                                  name="property.id"></dropdown-organ>

                  <ui-select dropdown-autocomplete ng-if="property.selectType=='autocomplete'"
                             ng-model="data.formData.params[property.id].value"
                             service-data="oServiceData"
                             ng-required="isFieldRequired(property)"
                             autocomplete-data="property.autocompleteData"
                             autocomplete-name="property.autocompleteName"
                             form-data="data.formData"
                             reach-infinity="requestMoreItems($select.items)"
                             on-select="onSelectDataList($item, null, null, property)">

                    <ui-select-match>
                      {{$select.selected[property.autocompleteData.valueProperty] || data.formData.params[property.id].value}}
                    </ui-select-match>

                    <ui-select-choices refresh="refreshList(property.autocompleteData.titleProperty, $select.search)"
                                       refresh-delay="300"
                                       repeat="item[property.autocompleteData.valueProperty] as item in items track by item[property.autocompleteData.orderBy]">
                      <span title="{{item[property.autocompleteData.titleProperty]}}">
                        {{item[property.autocompleteData.titleProperty]}}
                      </span>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>

              <div class="col-md-3" ng-if="renderAsLabel(property)" ng-hide="property.type === 'file'"
                   ng-bind="data.formData.params[property.id].value">
                <input type="hidden"
                       name="{{property.id}}"
                       ng-model="data.formData.params[property.id].value"
                       ng-required="isFieldRequired(property)"
                       ng-class="getBpAndFieldID(property)"
                       class="form-control"
                       value="">
              </div>

              <div class="col-md-4 validation-message">
                <div ng-if="form.$submitted" ng-messages="form[property.id].$error">
                  <div ng-message="required">Необхідно заповнити.</div>
                  <div ng-message="pattern">Значення має бути числом.</div>
                  <div ng-message="email">Помилка в email.</div>
                  <div ng-message="tel">Помилка в номері телефону.</div>
                  <div ng-message="autovin">Помилка у VIN-номері авто.</div>
                  <div ng-message="textua">Текст може містити тількі українські літери або мінус чи пробіл.</div>
                  <div ng-message="textru">Текст може містити тількі російські літери або мінус чи пробіл.</div>
                  <div ng-message="dateformat">Дата може бути тільки формату DATE_FORMAT.</div>
                  <div ng-message="dateelapsed">З/до дати з/після сьогоднішньої, має бути більше/менше ніж х-днів,
                    х-місяців, х-років.
                  </div>
                  <div ng-message="string">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="long">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="double">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="numberbetween">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="numberfractionalbetween">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="numbersaccounts">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="dateofbirth">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="CustomFormat">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="CodeKVED">Такого КВЕД не існує - (ви не можете вписувати літери)</div>
                  <div ng-message="CodeEDRPOU">Такий код ЄДРПОУ не існує - (ви не можете вписувати літери)</div>
                  <div ng-message="CodeMFO">Такого коду банку не існує - (ви не можете вписувати літери)</div>
                  <div ng-message="FileSign">Підпис не валідний або відсутній</div>
                  <div ng-message="FileExtensions">{{ form[property.id].lastErrorMessage }}</div>
                  <div ng-message="FieldNotEmptyAndNonZero">Будь ласка, оберiть iз запропонованого перелiку</div>
                </div>
                <div ng-if="form[property.id].$dirty" ng-messages="form[property.id].$error">
                  <div ng-message="OrderValue">Такого номеру не існує</div>
                </div>

              </div>

            </div>
            <!--<div class="row">-->
              <!--<div class="col-md-5"></div>-->
              <!--<div class="col-md-3">-->


                  <!--<label ng-hide="!sign.checked">Після натискання "Замовити послугу"-->
                    <!--Вас буде перенаправлено на сторінку підпису вашої заявки електронно-цифровим підписом.-->
                    <!--Замовляючи послугу, Ви надаєте згоду на обробку Ваших персональних даних та підтверджуєте їх актуальність-->
                  <!--</label>-->
                  <!--<label  ng-if="isSignNeeded" ng-hide="isSignNeededRequired">Накласти ЕЦП :-->
                  <!--<input type="checkbox"-->
                         <!--ng-model="sign.checked"-->
                         <!--name="{{data.formData.getSignFieldID()}}">-->
                <!--</label>-->
                  <!--&lt;!&ndash;label  ng-if="isSignNeededRequired ? true : sign.checked">Після натискання "Замовити послугу"&ndash;&gt;-->
                         <!--&lt;!&ndash;ng-model="isSignNeededRequired ? true : sign.checked"&ndash;&gt;-->

              <!--</div>-->
              <!--<div class="col-md-4"></div>-->
              <!--</div>-->
            <div class="row col-md-12 igov-info-label" ng-if="isSignNeeded">
              Після натискання "Замовити послугу з ЕЦП"
              Вас буде перенаправлено на сторінку підпису вашої заявки електронно-цифровим підписом. <br />
              Замовляючи послугу, Ви надаєте згоду на обробку Ваших персональних даних та підтверджуєте їх актуальність
            </div>

            <div class="row col-md-12 igov-info-label" ng-if="!isSignNeeded">
              Замовляючи послугу, Ви надаєте згоду на обробку Ваших персональних даних та підтверджуєте їх актуальність
            </div>

            <div class="row">
              <div class="col-md-3" ng-class="{'col-md-5': isSignNeededRequired || !isSignNeeded}"></div>

              <div class="col-md-3" ng-if="!bSending(form) && !isSignNeededRequired">
                <br/>
                <button class="btn btn-info"
                        ng-click="processForm(form, activitiForm.formProperties, false)"
                        ng-disable="cantSubmit(form)">
                  <span ng-if="isSignNeeded">Замовити послугу без ЕЦП</span>
                  <span ng-if="!isSignNeeded">Замовити послугу</span>
                </button>
              </div>

              <div class="col-md-3" ng-if="!bSending(form) && (isSignNeeded || isSignNeededRequired)">
                <br/>
                <button class="btn btn-warning"
                        ng-click="processForm(form, activitiForm.formProperties, true)"
                        ng-disable="cantSubmit(form)">Замовити послугу з ЕЦП
                </button>
              </div>

              <div class="col-md-3">
                <br><label ng-show="bSending(form)">Зачекайте...</label>
              </div>
            </div>

            </form>
          </div>
        </div>
      </div>
  </div>

  <div class="row" ng-if="spinner">
    <div class="text-center">
      <img class="text-center section-preloader" src="/assets/images/loading.gif" alt="Loading"/>
    </div>
  </div>

  <place-edit></place-edit>

</div>
