<div class="list-group">

  <place></place>

  <div service-auth-block class="list-group-item"
    ng-if="authControlIsVisible() && !profile.isKyivCity"
    redirect-uri="{{getRedirectUrl()}}"
    auth-methods="{{getAuthMethods()}}">Крок 2. Увійдіть в систему через
  </div>
  <div service-auth-block class="list-group-item"
       ng-if="authControlIsVisible() && profile.isKyivCity"
       redirect-uri="{{getRedirectUrl()}}"
       auth-methods="{{getAuthMethods()}}">Крок 1. Увійдіть в систему через
  </div>

  <place-edit></place-edit>

</div>
