<style>
  .text-success{
    color: #18c800
  }
  .bg-success{
    background-color: #c3ffac;
  }
</style>
<div ng-app="popUp" ng-controller="PopUpController">
  <div class="modal-header bg-success">
    <button class="close" type="button" ng-click="close()">×</button>
    <h1 class="modal-title text-success">Ваші дані успішно оброблені. </h1>
  </div>
  <div class="modal-body" align="justify">Ваше питання буде розглянуто найближчим часом.</div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">Закрити</button>
  </div>
</div>
