<div class="form-horizontal">
  <div class="form-group">
    <button class="btn btn-primary col-sm-2" ng-click="openViewFilter()"><span class="glyphicon glyphicon-eye-open"></span> Показати</button>
    <button class="btn btn-danger col-sm-2" ng-click="openRemoveFilter()"><span class="glyphicon glyphicon-remove"></span> Видалити</button>
    <button class="btn btn-primary pull-right col-sm-2" ng-click="add()"><span class="glyphicon glyphicon-cloud-upload"></span> Додати</button>
    <hr>
    <div uib-collapse="bViewFilterSetting">
      <div class="form-inline form-horizontal">
        <div class="panel-heading"><h5>Налаштування фыльтру</h5></div>
        <div class="form-group">
          <label for="inputIdBp" class="col-sm-2 control-label">Ідентифікатор бізнес-процесу:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="oFilter.sID_BP" class="form-control" id="inputIdBp" placeholder="Ідентифікатор бізнес-процесу">
          </div>
        </div>
        <div class="form-group">
          <label for="inputFieldType" class="col-sm-2 control-label">Тип поля:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="oFilter.sFieldType" class="form-control" id="inputFieldType" placeholder="Тип поля">
          </div>
        </div>
        <div class="form-group">
          <label for="inputFieldId" class="col-sm-2 control-label">Ідентивікатор поля:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="oFilter.sID_Field" class="form-control" id="inputFieldId" placeholder="Ідентивікатор поля">
          </div>
        </div>
        <div class="form-group" ng-show="bSettingDeleteFilter">
          <label for="inputVersion" class="col-sm-2 control-label">Версія:</label>
          <div class="col-sm-10">
            <input type="text" ng-model="oFilter.sVersion" class="form-control" id="inputVersion" placeholder="Версія">
          </div>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success"
                  ng-click="init(oFilter)" ng-if="!bSettingDeleteFilter"><span class="glyphicon glyphicon-filter"></span> Застосувати</button>
          <button type="button" class="btn btn-danger"
                  ng-click="delete(oFilter)" ng-if="bSettingDeleteFilter"><span class="glyphicon glyphicon-trash"></span> Видалити</button>
          <button type="button" class="btn btn-default" ng-click="closeFilter()">Відміна</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row center-block" ng-if="inProgress">
  <h4>Зачекайте...</h4>
</div>
<div ng-if="!inProgress">
  <div class="row center-block" ng-if="get().length == 0">
    <h4>Інформація для відображення відсутня</h4>
    <h4>Будь ласка, змініть налаштування фільтру</h4>
  </div>
  <div ng-if="get().length > 0">
    <table st-table="displayedCollection" st-safe-src="get()" class="table table-striped">
      <thead>
      <tr>
        <th st-sort="key">Код</th>
        <th st-sort="version">last name</th>
        <th st-sort="deploymentId">birth date</th>
        <th st-sort="name">balance</th>
      </tr>
      <tr>
        <th colspan="3"><input st-search="id" class="form-control" placeholder="За ідентифікатором ..." type="search"/></th>
        <th><input st-search="name" class="form-control" placeholder="За назвою ..." type="search"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="row in displayedCollection">
        <td>{{row.key}}</td>
        <td>{{row.version}}</td>
        <td>{{row.deploymentId}}</td>
        <td>{{row.name}}</td>
        <td>
          <button type="button" class="btn btn-success" ng-click="downloadItem(row)" ooltip="Завантажити"
                  tooltip-trigger="mouseenter" tooltip-placement="top"
                  tooltip-append-to-body="true">
            <i class="glyphicon glyphicon-download-alt"></i>
          </button>
          <button type="button" class="btn btn-danger" ng-click="removeItem(row)" tooltip="Видалити"
                  tooltip-trigger="mouseenter" tooltip-placement="top"
                  tooltip-append-to-body="true">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

