<div class="modal-header" ng-init="initUserModalDialog()">
  <h3 class="modal-title">Користувач</h3>
</div>
<div class="modal-body group-modal-body">
  <form class="form-horizontal">

    <div class="col-md-12 col-xs-12">
      <div class="form-group">
        <label for="inputLogin" class="col-md-2 col-xs-2 control-label">Login:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputLogin" ng-model="data.user.sLogin">
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-md-2 col-xs-2 control-label">sName:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputName" ng-model="data.user.sName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="inputDescription">sDescription:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputDescription" ng-model="data.user.sDescription">
        </div>
      </div>
      <div class="form-group" ng-if="isNewUser()">
        <label class="col-md-2 col-xs-2 control-label" for="inputPassword">sPassword:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputPassword" ng-model="data.user.sPassword">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="inputEmail">sEmail:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputEmail" ng-model="data.user.sEmail">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="FirstName">FirstName:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="FirstName">{{data.user.FirstName}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="LastName">LastName:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="LastName">{{data.user.LastName}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="Email">Email:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="Email">{{data.user.Email}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="Picture">Picture:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="Picture">{{data.user.Picture}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xs-12">
      <dropdown-group data="data"></dropdown-group>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" ng-show="showSave()" ng-click="save()">Зберегти</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
</div>
