<div class="modal-header" ng-init="initUserModalDialog()">
  <h3 class="modal-title">Користувач</h3>
</div>
<div class="modal-body group-modal-body">
  <form name="formName" class="form-horizontal">

    <div class="col-md-12 col-xs-12">
      <div class="form-group"  ng-class="{ 'has-error': formName.inputLogin.$error.taken && data.editMode !== data.editModes.EDIT }">
      <!--<div class="form-group">-->
        <label for="inputLogin" class="col-md-2 col-xs-2 control-label">Логін:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control"
                 id="inputLogin"
                 name="inputLogin"
                 ng-model="data.user.sLogin"
                 ui-validate=" {taken : 'loginHasNotBeenUsed($value)' } "
                 ng-disabled="data.editMode === data.editModes.EDIT"
                 required
          >
          <p class="help-block"  ng-show='formName.inputLogin.$error.taken && data.editMode !== data.editModes.EDIT'>Даний логін вже використовується.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-md-2 col-xs-2 control-label">Ім'я:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputName" ng-model="data.user.sName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="inputDescription">Побатькові:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputDescription" ng-model="data.user.sDescription">
        </div>
      </div>
      <div class="form-group" ng-if="isNewUser()">
        <label class="col-md-2 col-xs-2 control-label" for="inputPassword">Пароль:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputPassword" ng-model="data.user.sPassword">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="inputEmail">Email:</label>
        <div class="col-md-10 col-xs-10">
          <input class="form-control" id="inputEmail" ng-model="data.user.sEmail">
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="FirstName">Ім'я:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="FirstName">{{data.user.FirstName}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="LastName">Побатькові:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="LastName">{{data.user.LastName}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="Email">Email:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="Email">{{data.user.Email}}</p>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="Picture">Фото:</label>
        <div class="col-md-10 col-xs-10">
          <p class="form-control-static" id="Picture">{{data.user.Picture}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xs-12">
      <dropdown-group data="data"></dropdown-group>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary"
          ng-disabled="formName.inputLogin.$error.taken && data.editMode === data.editModes.CREATE"
          ng-click="save()">Зберегти</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Відмінити</button>
</div>
