.tree-trunk {
  padding: .5em 0 0 .5em;
}
.tree-parent {
  margin-bottom: .25em;
  padding-left: 0;
}
.tree-child {
  margin-bottom: .25em;
  padding-left: 1em;
}
.clickable {
  cursor: pointer;
}
.notClickable {
  cursor: default;
}
