<div ng-show="usersHierarchyOpened" class="table-ng-modal">
  <div class='users-hierarchy-modal-overlay' ng-click='usersHierarchyOpened=false'></div>
  <div class='users-hierarchy-modal-dialog' ng-style='dialogStyle'>
    <div class='users-hierarchy-modal-header'>
      <div class='users-hierarchy-modal-close' ng-click='usersHierarchyOpened=false'><i class="glyphicon glyphicon-remove"></i></div>
    </div>
    <div class='col-md-12 users-hierarchy-modal-dialog-content-view' ng-style='dialogStyle'>
      <div class='users-hierarchy-modal-dialog-content' ng-if="attachIsLoading">Завантаження користувачiв...</div>
      <div class='users-hierarchy-modal-dialog-content' ng-if="!attachIsLoading">
        <ea-tree-view branch-name='aProcessSubjects' item-template-url="components/usersHierarchyModal/tree.template.html" items="documentFullHierarchy.aProcessSubject" dataset-id="$id" callback="show"></ea-tree-view>
      </div>
    </div>
  </div>
</div>
