<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

	<beans profile="local, default, test">

		<!-- Scan some API controllers -->
		<context:component-scan base-package="org.igov.service.controller" />
		<context:component-scan base-package="org.springfox" />

		<!-- Enables swagger ui -->
		<mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/" />
		<mvc:resources mapping="/webjars/**"
			location="classpath:/META-INF/resources/webjars/" />

		<!-- Include a swagger configuration -->
		<bean id="swagger2Config" class="org.springfox.ApplicationSwaggerConfig" />

		<bean
			class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" />
		<bean
			class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter" />
	</beans>

</beans>