<div class="container" ng-hide="messageError">
  <div class="row" ng-show="commentExist">
    <span>Вiдгук вже залишен: {{commentDate}}</span>
  </div>
  <div class="row" ng-hide="commentExist">
    <span>Залиште свiй вiдгук</span>
  </div>
  <div class="row" ng-hide="commentExist">
    <span>{{commentHead}}</span>
  </div>
  <div class="row" ng-hide="commentExist">
    <textarea rows="5" ng-model="commentBody" class="form-control" style="width: 500px !important;"></textarea>
  </div>
  <div class="row" ng-hide="commentExist">
    <input type="button" class="btn btn-info" value="Залишити вiдгук" ng-click="postComment()" />
  </div>

</div>
