<div class="row feedback feedback-clearfix" ng-form name="feedbackForm" >

  <div class="container feedback-container" ng-hide="feedback.feedbackError">

    <div class="row container" ng-if="sID_Token">
      <div class="col-md-6 col-sm-6 feedback-padding0">

        <div class="feedback-assessment form-group" ng-class="{'has-error': !feedback.rating && submitted}">
          <div class="feedback-assessment-header feedback-font14 control-label">Ваша оцінка</div>
          <div star-rating
               showonly="!!feedback.exist"
               class="feedback-assessment-body fa-custom-edit has-error"
               name="assessment"
               ng-model="feedback.rating" max="5"
               on-rating-select="feedback.rateFunction(rating)"
               ></div>
          <p class="help-block feedback-font14"
             ng-show="!feedback.rating && submitted">Оцініть, будь ласка</p>
        </div>
        <div>
          <span class="feedback-font14">Ваш вiдгук</span>
        </div>

        <div>
          <div class="feedback-form-group form-group" ng-class="{'has-error': feedbackForm.textMessage.$invalid && feedbackForm.textMessage.$dirty}">
              <textarea rows="5" ng-model="feedback.messageBody"
                        name="textMessage"
                        ng-disabled="feedback.exist"
                        class="form-control pull-right feedback-textarea feedback-margin-bottom"
                        placeholder="Прокоментуйте Вашу оцінку, будь ласка"
                        required></textarea>
            <p class="help-block feedback-font14" ng-show="feedbackForm.textMessage.$invalid && feedbackForm.textMessage.$dirty">
              <span ng-show="feedbackForm.textMessage.$error.required">Залиште Ваш відгук, будь ласка</span>
            </p>
          </div>
          <div class="">
            <input type="button"
                   class="feedback-btn btn pull-right"
                   ng-if="!feedback.exist"
                   value="Опублікувати"
                   ng-click="feedback.postFeedback()"/>
          </div>
        </div>

      </div>

      <div class="feedback-info-content col-md-6 col-sm-6">
        <p class="feedback-info-header">Ваш регіон і місто</p>

        <p class="feedback-info-body">{{::feedback.currentFeedback.sPlace}}</p>

        <p class="feedback-info-header">Державний орган</p>

        <p class="feedback-info-body">{{::feedback.sSubjectOperatorName}}</p>

        <div ng-if="feedback.currentFeedback.sEmployeeFIO">
          <p class="feedback-info-header">Співробітник, який Вас обслуговував</p>

          <p class="feedback-info-body">{{::feedback.currentFeedback.sEmployeeFIO}}</p>
        </div>

        <p class="feedback-info-header">Ваш підпис</p>

        <p class="feedback-info-body">{{::feedback.currentFeedback.sAuthorFIO}}</p>
      </div>
    </div>

    <div class="row">
      <div class="container col-md-12">
        <div>
          <div class="feedback-list-container" ng-class="{'no-feedback': !sID_Token}">
            <div class="feedback-list-header" ng-class="{'no-feedback-header': !sID_Token}">
              <h2 class="feedback-callout feedback-callout-info">Відгуки громадян</h2>
              <span style="padding-left: 16px; color: #89909d; font-size: 13px;">Відгук про послугу може написати той, хто скористався послугою</span>
            </div>
            <div class="feedback-list-content">
              <div ng-repeat="item in feedback.messageList">
                <div class="feedback-list-item form-horizontal">
                  <p>
                    <star-rating ng-model="item.nID_Rate" showonly="true"></star-rating>
                    <small class="feedback-info-list-author">{{::item.sAuthorFIO}}</small>
                    <small class="feedback-info-list-author">{{::item.sPlace}}</small>
                    <small class="feedback-info-list-author">{{::item.sSubjectOperatorName}}</small>
                    <small class="feedback-info-list-author">{{::item.sEmployeeFIO}}</small>
                    <small class="feedback-info-list-author">{{::feedback.relativeTime(item.oSubjectMessage.sDate)}}</small>
                  </p>
                  <p>{{::item.sBody}}</p>
                  <button class="btn btn-link"
                          ng-if="feedback.isAdmin && feedback.commentToShowAnswer !== item.nID"
                          ng-click="feedback.answer(item.nID)"><h5>Відповісти</h5></button>
                  <button class="btn btn-link"
                          ng-if="feedback.isAdmin && feedback.commentToShowAnswer === item.nID"
                          ng-click="feedback.hideAnswer()"><h6>Сховати</h6></button>
                  <feedback-answer
                    ng-if="feedback.commentToShowAnswer === item.nID && feedback.isAdmin"
                    current-feedback="item"
                    on-send="feedback.sendAnswer(answerData)"
                    ></feedback-answer>

                  <div class="feedback-answers" ng-repeat="answ in item.oSubjectMessageFeedbackAnswers">
                      <p>
                        <small class="feedback-info-list-author">{{::answ.oSubjectMessage.sSubjectInfo}} {{::feedback.relativeTime(answ.oSubjectMessage.sDate)}} {{::item.sAuthorFIO}}</small>
                      </p>
                      <div class="feedback-answers-body">
                        <p>{{::answ.oSubjectMessage.sBody}}</p>
                      </div>
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button class="btn btn-default" ng-click="loadMoreFeedbackMessages()"
                  ng-show="loadMoreFeedbackMessagesAvailable"
                  ng-disabled="messagesLoadingProgress">Завантажити ще</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
