<sign-info-dialog>
  <div ng-show="!checkSignState.signInfo.customer"class="sign-info-content" style="padding: 10px;">
    Немає підпису
  </div>
  <div ng-show="checkSignState.signInfo.customer" class="sign-info-content" style="padding: 10px;">
    <h2>Файл: {{checkSignState.attachmentName}}</h2>
    <h2>Дані електроного підпису</h2>
    <table>
      <tr>
        <th>ІНН:</th>
        <td>{{checkSignState.signInfo.customer.inn}}</td>
      </tr>
      <tr>
        <th>Ім'я:</th>
        <td>{{checkSignState.signInfo.customer.fullName}}</td>
      </tr>
      <tr>
        <th>Дійсний з:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.dateFrom}}</td>
      </tr>
      <tr>
        <th>Дійснйи до:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.dateTo}}</td>
      </tr>
      <tr>
        <th>Опис:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.desc}}</td>
      </tr>
      <tr>
        <th>Назва:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.name}}</td>
      </tr>
      <tr>
        <th>Серійний номер:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.serialNumber}}</td>
      </tr>
      <tr>
        <th>Серійний номер 2:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.sn}}</td>
      </tr>
      <tr>
        <th>Часова відмітка:</th>
        <td>{{checkSignState.signInfo.customer.signatureData.timestamp}}</td>
      </tr>
    </table>

    <h2>Установи</h2>

    <div ng-repeat="organization in checkSignState.signInfo.customer.organizations" style="margin-bottom: 20px;">
      <table>
        <tr>
          <th>Найменування:</th>
          <td>{{organization.name}}</td>
        </tr>
        <tr>
          <th>Адреса:</th>
          <td>{{organization.address.state}} обл., м. {{organization.address.city}}</td>
        </tr>
        <tr ng-if="organization.mfo">
          <th>МФО:</th>
          <td>{{organization.mfo}}</td>
        </tr>
        <tr ng-if="organization.ownerDesc">
          <th>Опис:</th>
          <td>{{organization.ownerDesc}}</td>
        </tr>
        <tr ng-if="organization.position">
          <th>Позиція:</th>
          <td>{{organization.position}}</td>
        </tr>
      </table>
    </div>
  </div>
</sign-info-dialog>
