<div ng-if="item.type == 'checkbox'" class="row">
    <div class="col-sm-12">
        <div class="col-sm-6 task-form-title">
            <field-title></field-title>
        </div>
        <div class="col-sm-6">
            <input type="checkbox"
                   name="{{item.id}}"
                   ng-disabled="isFormPropertyDisabled(item)"
                   ng-model="item.value"
                   ng-true-value="'{{item.checkbox[item.id].trueValue}}'"
                   ng-false-value="'{{item.checkbox[item.id].falseValue}}'"
                   checkbox-indeterminate="item.value === null"
                   ng-required="isRequired(item) && item.value === null"
                   ng-class="{submitted:isRequired(item) && isTaskSubmitted()}">
            <span class="validation-message" ng-messages="isFormInvalid && isRequired(item) && form[item.id].$error">
                    <span ng-message="required">Необхідно заповнити.</span>
                  </span>
        </div>
    </div>
</div>


