<div ng-if="['date'].indexOf(item.type) > -1 && showField(item)" class="col-sm-12 form-field">
            <span class="col-sm-6 task-form-title">
              <label>{{sFieldLabel(item.name)}} <span ng-if="isRequired(item) && item.writable"
                                                      style="color: red">*</span></label>
            </span>
  <div class="col-sm-6">
    <div class="input-group" ng-if="!isFormPropertyDisabled(item) && isDocumentWritable(item)">
      <input datetimepicker
             format='DD/MM/YYYY'
             separator='/'
             class="form-control date-picker"
             name="{{item.id}}"
             ng-readonly="isFormPropertyDisabled(item)"
             ng-required="isRequired(item)"
             ng-model="item.value"
             ng-class="{submitted:isRequired(item) && isTaskSubmitted()}"/>
    </div>
    <div ng-if="showReadableField(item)">
        <span class="task-form-written-right-sight"
              name="{{item.id | date:'yyyy.MM.dd'}}">
              {{item.value | checkDate}}
        </span>
    </div>
  </div>
</div>
