            <div ng-if="item.type == 'enum'" class="row">
              <div class="col-sm-12">
                <div class="col-sm-6 task-form-title">
                  <field-title></field-title>
                </div>
                <div class="col-sm-6" style="margin-bottom: 15px">
                  <select name="{{item.id}}"
                          ng-disabled="isFormPropertyDisabled(item)"
                          style="width:100%; height:25px;;"
                          ng-options="oEnumValue.id as oEnumValue.name for oEnumValue in item.enumValues"
                          ng-required="isRequired(item)"
                          ng-model="item.value"
                          ng-class="{submitted:isRequired(item) && isTaskSubmitted()}"></select>

                  <span class="validation-message" ng-messages="isFormInvalid && isRequired(item) && form[item.id].$error">
                    <span ng-message="required">Необхідно заповнити.</span>
                    <span ng-message="pattern">Значення має бути числом.</span>
                    <span ng-message="email">Помилка в email.</span>
                    <span ng-message="tel">Помилка в номері телефону.</span>
                    <span ng-message="autovin">Помилка у VIN-номері авто.</span>
                    <span ng-message="textua">Текст може містити тількі українські літери або мінус чи пробіл.</span>
                    <span ng-message="textru">Текст може містити тількі російські літери або мінус чи пробіл.</span>
                    <span ng-message="dateformat">Дата може бути тільки формату DATE_FORMAT.</span>
                    <span ng-message="dateelapsed">З/до дати з/після сьогоднішньої, має бути більше/менше ніж х-днів, х-місяців, х-років.</span>
                    <span ng-message="CodeKVED">Такого КВЕД не існує - (ви не можете вписувати літери)</span>
                    <span ng-message="CodeEDRPOU">Такий код ЄДРПОУ не існує - (ви не можете вписувати літери)</span>
                    <span ng-message="CodeMFO">Такого коду банку не існує - (ви не можете вписувати літери)</span>
                    <span ng-message="FileSign">Підпис не валідний або відсутній</span>
                    <span ng-message="numbersaccounts">Перевірте правильність уведеного номеру (літери не дозволені до заповнення)</span>
                    <span ng-message="documentdate">Дата може бути тільки формату ДД.ММ.PPPP.</span>
                  </span>
                </div>

              </div>


            </div>


