<div ng-if="(['select'].indexOf(item.type) > -1) && showField(item)" class="col-sm-12 form-field">
  <div class="col-sm-6 task-form-title">
    <label>{{sFieldLabel(item.name)}} <span ng-if="isRequired(item) && !inUnassigned() && item.writable" style="color: red">*</span></label>
  </div>
  <div class="col-sm-6" style="padding-right: 0">
    <div ng-if="(!isFormPropertyDisabled(item) && isDocumentWritable(item)) && isDocumentNotSigned()">
      <ui-select dropdown-autocomplete ng-if="item.selectType=='autocomplete'"
                 ng-model="item.value"
                 name="item.id"
                 ng-class="{submitted: isRequired(item) && isTaskSubmitted()}"
                 ng-disabled="!isDocumentNotSigned()"
                 ng-required="item.required"
                 autocomplete-data="item.autocompleteData"
                 autocomplete-name="item.autocompleteName"
                 reach-infinity="requestMoreItems($select.items)"
                 on-select="onSelectDataList($item, null, null, item)">
        <ui-select-match>
          {{$select.selected[item.autocompleteData.titleProperty] || $select.selected[item.autocompleteData.valueProperty] || item.value}}
        </ui-select-match>
        <ui-select-choices refresh="refreshList(item.autocompleteData.titleProperty, $select.search, item.name)"
                           refresh-delay="300"
                           repeat="field[item.autocompleteData.titleProperty] as field in items track by field[item.autocompleteData.orderBy]">
                           <span title="{{field[item.autocompleteData.titleProperty]}}">
                             {{field[item.autocompleteData.titleProperty]}}
                           </span>
        </ui-select-choices>
      </ui-select>
    </div>

    <span class="task-form-written-right-sight"
          ng-if="showReadableField(item) || !isDocumentNotSigned()"
          style="white-space: pre-line"
          name="{{item.id}}">{{item.value}}
    </span>

  </div>
  <span class="validation-message" ng-messages="isFormInvalid && form[item.id].$error">
      <span ng-message="required">Необхідно заповнити.</span>
      <span ng-message="pattern">Значення має бути числом.</span>
      <span ng-message="email">Помилка в email.</span>
      <span ng-message="tel">Помилка в номері телефону.</span>
      <span ng-message="autovin">Помилка у VIN-номері авто.</span>
      <span ng-message="textua">Текст може містити тількі українські літери або мінус чи пробіл.</span>
      <span ng-message="textru">Текст може містити тількі російські літери або мінус чи пробіл.</span>
      <span ng-message="dateformat">Дата може бути тільки формату DATE_FORMAT.</span>
      <span ng-message="dateelapsed">З/до дати з/після сьогоднішньої, має бути більше/менше ніж х-днів, х-місяців, х-років.</span>
      <span ng-message="string">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="long">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="double">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="numberbetween">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="numberfractionalbetween">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="numbersaccounts">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="dateofbirth">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="CustomFormat">{{ form[item.id].lastErrorMessage }}</span>
      <span ng-message="CodeKVED">Такого КВЕД не існує - (ви не можете вписувати літери)</span>
      <span ng-message="CodeEDRPOU">Такий код ЄДРПОУ не існує - (ви не можете вписувати літери)</span>
      <span ng-message="CodeMFO">Такого коду банку не існує - (ви не можете вписувати літери)</span>
      <span ng-message="FileSign">Підпис не валідний або відсутній</span>
      <span ng-message="documentdate">Дата може бути тільки формату ДД.ММ.PPPP.</span>
      <span ng-message="FieldNotEmptyAndNonZero">Будь ласка, оберiть iз запропонованого перелiку</span>
    </span>
</div>
