<div class="list-group-item" ng-if="bAdmin && placeControlIsComplete()">
  <div class="row no-margin-bottom">
    <div class="text-center" ng-hide="serviceIsAvailable()">
      <a class="ctrls-admin ctrls-srvc-add"
         href=""
         ng-click="openModal()"
         title="Додати послугу в цьому регіоні або населенному пункті">
        <span class="glyphicon glyphicon-plus"></span>
        Додати послугу
      </a>
    </div>
    <div class="text-center" ng-show="serviceIsAvailable()">
      <a class="ctrls-admin ctrls-srvc-edit"
         href=""
         title="Редагувати послугу в цьому регіоні або населенному пункті"
         ng-click="openModal()">
        <span class="glyphicon glyphicon-pencil"></span> Редагувати
      </a>
      <a class="ctrls-admin ctrls-srvc-remove"
         href=""
         title="Видалити послугу в цьому регіоні або населенному пункті"
         ng-click="delete()">
        <span class="glyphicon glyphicon-remove"></span> Видалити
      </a>
    </div>
  </div>
</div>
