.issue-block .left-side {text-align: right;}
.issue-block .right-side {text-align: left;}
.issue-block .red-star {color: red}
.issue-block .row {margin-bottom: 10px;}
.issue-block .issue-workers {background: #f3f3f3;padding-bottom: 20px;padding-top: 20px;}
.issue-block .issue-add-file-button {border: 1px solid #337ab7;outline: none;border-radius: 3px;text-decoration: none;}
.issue-block .issue-header {position: absolute;}
@media (max-width: 767px) {
  .issue-block .issue-header {position: relative;}
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.issue-read-headers {background: #F2F2F2;padding: 10px;margin-bottom: 10px;}
.issue-no-padding {padding-left: 0;padding-right: 0;}
.issue-padding-10 {padding-left: 10px;}
.issue-pb-20 {padding-bottom: 20px;}
