<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Підписати за допомогою електронного ключа</h4>
</div>
<div class="modal-body" ng-if="!isInitialized">
  <p>Треба встановити розширення до браузера</p>
</div>
<div class="modal-body" ng-if="isInitialized">
  <form name="form" novalidate style="margin-top: 30px">
    <div ng-if="isManuallySelectedFile()" class="col-sm-12 form-field">
      <div class="col-sm-4 task-form-title">
        <label>Файл на підпис<span style="color: red">*</span></label>
      </div>
      <div class="col-sm-4" style="padding-right: 0">
        <input ng-model="edsContext.edsStorage.file"
               onchange="angular.element(this).scope().fileChanged(this)"
               type="file" accept="application/pdf" required readonly/>
      </div>
    </div>
    <div class="col-sm-12 form-field">
      <div class="col-sm-4 task-form-title">
        <label>Файл сховища ЕЦП <span style="color: red">*</span></label>
      </div>
      <div class="col-sm-4" style="padding-right: 0">
        <input name="eds" ng-model="edsContext.edsStorage.name" required readonly>
      </div>
      <div class="col-sm-3 task-form-title">
        <button type="button" class="btn" ng-click="chooseEDSFile()">Обрати файл</button>
      </div>
    </div>
    <div class="col-sm-12 form-field">
      <div class="col-sm-4 task-form-title">
        <label>Пароль до сховища <span style="color: red">*</span></label>
      </div>
      <div class="col-sm-4" style="padding-right: 0">
        <input name="eds-password" type="password" ng-model="edsContext.edsStorage.password" required>
      </div>
      <div class="col-sm-3 task-form-title">
        <button type="button" class="btn" ng-click="findKeys()">Отримати ключі</button>
      </div>
    </div>
    <div class="col-sm-12 form-field">
      <div class="col-sm-4 task-form-title">
        <label>Ключ для підпису <span style="color: red">*</span></label>
      </div>
      <div class="col-sm-4" style="padding-right: 0">
        <select name="eds-key"
                ng-disabled="isNoChoice()"
                style="width:100%; height:25px;;"
                ng-options="key.alias for key in edsContext.keyList"
                ng-model="edsContext.selectedKey.key" required></select>
      </div>
    </div>
    <div ng-if="edsContext.selectedKey.key && edsContext.selectedKey.key.needPassword" class="col-sm-12 form-field">
      <div class="col-sm-4 task-form-title">
        <label>Пароль до ключа <span style="color: red">*</span></label>
      </div>
      <div class="col-sm-4" style="padding-right: 0">
        <input name="eds-key-password" type="password" ng-model="edsContext.selectedKey.password" required>
      </div>
    </div>
  </form>
  <span style="color: red">{{lastError.msg}}</span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="sign()">Підписати</button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">Відмінити</button>
</div>
