<div class="modal-header">
  <button type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 class="modal-title">Підписати за допомогою єлектронного ключа</h4>
</div>
<div class="modal-body">
  <p>here will be sign form</p>
  <p>field to choose storage</p>
  <p>field to type storage password</p>
  <p>field to choose key</p>
  <p>field to type key password</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="sign()">Підписати</button>
  <button type="button" class="btn btn-danger" ng-click="cancel()">Відмінити</button>
</div>
