<style>
  @media (min-width: 992px) {
    .col-sm-4:nth-child(3n+1) {
      clear: left;
    }
  }
</style>

<div class="container-fluid full-content-with-catalog" ng-class="{'sfs-container':isSfs()}" >
  <div class="row" ng-hide="isSfs()" >
    <div class="container">
      <div class="col-md-11" style="padding-left: 0">
        <div class="col-md-10 col-md-offset-2" style="padding-left: 0">
          <new-igov-search></new-igov-search>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="!mainSpinner">

    <div class="container">
      <div class="col-md-12">
        <ul class="nav nav-tabs navi-citizens-business" ng-init="catalogTab = 1">
          <li>
            <a ui-sref="index.catalog({'catID': 1})" ng-click="catalogTab = 1" ng-class="{'active-tab': catalogTab === 1}">Послуги громадянам</a>
          </li>
          <li>
            <a ui-sref="index.catalog({'catID': 2})" ng-click="catalogTab = 2" ng-class="{'active-tab': catalogTab === 2}">Послуги бізнесу</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="row subcategory">
      <div ui-view="contentIn">
        <div class="row">
          <div class="container" style="margin-bottom: 40px" >
            <div class="col-sm-4 col-xs-12" ng-repeat="category in catalog">
              <div class="col-sm-12 category-container">
                <div class="col-sm-3">
                  <img ng-if="!category.oServiceTag_Root.sLinkImage" style="margin-top: 25px" src="https://alpha.test.igov.org.ua/wf/VAADIN/themes/activiti/img/services/igov.noimg.png" alt="img">
	                <img ng-if="category.oServiceTag_Root.sLinkImage" style="margin-top: 25px" ng-src="{{category.oServiceTag_Root.sLinkImage}}" alt="img">
                </div>
                <div class="col-sm-9 text">
                  <h3><a ui-sref="index.newsubcategory({'catID': catalogTab, 'scatID': category.oServiceTag_Root.nID })">{{category.oServiceTag_Root.sName_UA}}</a></h3>
                  <ul>
                    <li ng-repeat="subcategory in category.aServiceTag_Child"><a ui-sref="index.situation({'catID': catalogTab, 'scatID': category.oServiceTag_Root.nID, 'sitID': subcategory.nID})">{{subcategory.sName_UA | capitalize}}</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row" ng-show="mainSpinner">
      <div class="text-center">
        <img class="text-center section-preloader" src="/assets/images/loading.gif" alt="Loading"/>
      </div>
    </div>
</div>
