<style>
  @media (min-width: 992px) {
    .col-md-4:nth-child(3n+1) {
      clear: left;
    }
  }
  .igov-container .list-unstyled a {
    font-size: 14px;
    color: #3081C7;
  }
  .igov-container .list-unstyled li {
    margin-top: 5px;
  }
</style>

<div ng-if="!spinner && !resultsAreLoading">

  <div class="row" ng-if="!busSpinner">
    <div class="container igov-container" style="margin-top: 18px">
      <div class="container" style="padding-left: 10px; padding-right: 10px">
        <div class="col-md-4" ng-repeat="subcategory in catalog[1].aSubcategory || catalog.aSubcategory" style="margin-top: 20px">
          <h3 style="font-size: 24px">
            <a title="Перейти до перегляду послуг цієї категорії"
               class="control-element"
               ui-sref="index.subcategory({'catID': 2, 'scatID': subcategory.nID })"
               style="font-size: 19px" >
              {{subcategory.sName}}
            </a>
          </h3>

          <ul class="list-unstyled">
            <li ng-repeat="service in subcategory.aService | orderBy: ['-nStatus', 'nOrder', 'sName'] | limitTo: nLimitCategory(category.nID) as services">

              <p>
                <a ui-sref="index.service.general({'id': service.nID })"
                   ng-href="/service/{{service.nID}}/general">
                  <!--<i class="icon-e-service-on"-->
                     <!--ng-if="service.nStatus === 2"-->
                     <!--title="Ця послуга доступна в електронній формі для одного, кількох або всіх регіонів">-->
                  <!--</i>-->
                  <!--<i class="icon-e-service-test"-->
                     <!--ng-if="service.nStatus === 1"-->
                     <!--title="Ця послуга буде доступна онлайн дуже скоро. Зайдіть у послугу та залиште свій email, щоб дізнатися, коли стане доступна.">-->
                  <!--</i>-->
                  <!--<i class="icon-e-service-off"-->
                     <!--ng-if="service.nStatus === 0"-->
                     <!--title="Ця послуга поки не доступна онлайн. Зайдіть у послугу та залиште свій email, щоб дізнатися, коли стане доступна.">-->
                  <!--</i>-->
                  {{service.sName}}
                </a>
              </p>
            </li>
          </ul>
          <p>
            <a class="btn btn-default"
               role="button"
               ui-sref="index.subcategory({'catID': 2, 'scatID': subcategory.nID })"
               ng-hide="subcategory.aService.length <= limit">Всі послуги
              <span class="badge badge-info">{{ subcategory.aService.length }}</span>
            </a>
          </p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="row" ng-if="!resultsAreLoading && (spinner || busSpinner)">
  <div class="text-center">
    <img class="text-center section-preloader" src="/assets/images/loading.gif" alt="Loading"/>
  </div>
</div>
