<div class="container">
    <div ng-if="vm.isLoggedIn" class="row">
        <div class="col-sm-6">
            <div ng-if="!vm.decryptedIsPresent">
                <decrypt-file on-file-upload-success="onFileUploadSuccess($file)"
                              options="vm.options"
                              o-service-data="{}">{{vm.options.text}}</decrypt-file>
                <!--Розшифрувати файл з ДФС-->
            </div>

            <div ng-if="vm.decryptedIsPresent" class="answer-dfs">
                <div class="col-sm-3">

                    <!-- Button trigger modal -->
                    <button type="button"
                            class="btn btn-link"
                            data-toggle="modal"
                            data-target="#myModal"
                            ng-click="vm.onView()">
                        <span class="glyphicon glyphicon-eye-open"></span> Показати
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Документ:</h4>
                                </div>
                                <div class="modal-body" ng-if="vm.viewContent.DECLAR.DECLARBODY[0] && vm.viewContent.DECLAR.DECLARBODY[0].HDOCKOD[0]">
                                    <p>Код форми документу: {{::vm.viewContent.DECLAR.DECLARBODY[0].HDOCKOD[0]}}</p>
                                    <p>Назва документу звітності: {{::vm.viewContent.DECLAR.DECLARBODY[0].HDOCNAME[0]}}</p>
                                    <p>Ім'я файлу: {{::vm.viewContent.DECLAR.DECLARBODY[0].HFILENAME[0]}}</p>
                                    <p>Стан документу: {{::vm.viewContent.DECLAR.DECLARBODY[0].HDOCSTAN[0]}}.</p>
                                    <p>Назва звітного періоду: {{::vm.viewContent.DECLAR.DECLARBODY[0].HPERIOD[0]}}</p>
                                    <p>Звітний рік: {{::vm.viewContent.DECLAR.DECLARBODY[0].HZY[0]}}</p>
                                    <p>Платник податків:</p>
                                    <p>Код згідно з ЄДРПОУ або РНОКПП або серія та номер паспорта: {{::vm.viewContent.DECLAR.DECLARBODY[0].HTIN[0]}}</p>
                                    <p>Найменування або прізвище, ім'я, по батькові: {{::vm.viewContent.DECLAR.DECLARBODY[0].HNAME[0]}}</p>
                                    <p>Адреса електронної пошти (E-mail): {{::vm.viewContent.DECLAR.DECLARBODY[0].HEMAIL[0]}}</p>
                                    <p>Результат обробки:</p>
                                    <p>Документ доставлено до: {{::vm.viewContent.DECLAR.DECLARBODY[0].HKODSTI[0]}} {{::vm.viewContent.DECLAR.DECLARBODY[0].HSTI[0]}}</p>
                                    <p>Дата та час: {{::vm.viewContent.DECLAR.DECLARBODY[0].HDATE[0]}} {{::vm.viewContent.DECLAR.DECLARBODY[0].HTIME[0]}}</p>
                                    <p>Реєстраційний номер: {{::vm.viewContent.DECLAR.DECLARBODY[0].HNUMREG[0]}}</p>
                                    <p>Відправник: {{::vm.viewContent.DECLAR.DECLARBODY[0].HSENDER[0]}}</p>
                                    <p>Результат: {{::vm.viewContent.DECLAR.DECLARBODY[0].HRESULT[0]}}</p>
                                    <p ng-repeat="item in vm.viewContent.DECLAR.DECLARBODY[0].T1RXXXXG1S">
                                        <span>{{::item._}}</span>
                                    </p>
                                    <p>{{::vm.viewContent.DECLAR.DECLARBODY[0].TEXT[0]}}</p>
                                </div>

                                <div class="modal-body" ng-if="vm.viewContent.DECLAR.DECLARBODY[0] && !vm.viewContent.DECLAR.DECLARBODY[0].HDOCKOD[0]">
                                  <h4 style="text-align: center; font-weight: bold">
                                    Відповідь на запит від &nbsp;{{vm.parseDate(vm.viewContent.DECLAR.DECLARHEAD[0].D_FILL[0])}}<br>
                                    про суми виплачених доходів та утриманих податків з Державного реєстру фізичних осіб – платників податків
                                    для заповнення податкової декларації про майновий стан і доходи/декларації про доходи та витрати осіб, які звернулись за призначенням житлових субсидій
                                  </h4>

                                  <table class="tg">
                                    <tr>
                                      <th class="tg-s6z2" rowspan="8">Фізична особа – платник податків</th>
                                      <th class="tg-s6z2" colspan="2"><b>{{::vm.viewContent.DECLAR.DECLARBODY[0].HLNAME[0]}}</b></th>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2">Прізвище</td>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2"><b>{{::vm.viewContent.DECLAR.DECLARBODY[0].HPNAME[0]}}</b></td>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2">Ім’я</td>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2"><b>{{::vm.viewContent.DECLAR.DECLARBODY[0].HFNAME[0]}}</b></td>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2">По батькові</td>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2"><b>{{::vm.viewContent.DECLAR.DECLARBODY[0].HTIN[0]}}</b></td>
                                    </tr>
                                    <tr>
                                      <td class="tg-s6z2" colspan="2">Реєстраційний номер облікової картки платника податків/серія та номер паспорта*</td>
                                    </tr>
                                    <tr>
                                    <tr style="display: none">
                                      <td class="tg-s6z2">Електронна адреса фізичної особи</td>
                                      <td class="tg-s6z2" colspan="2"><b>{{::vm.viewContent.DECLAR.DECLARBODY[0].HEMAIL[0]}}</b></td>
                                    </tr>
                                  </table>


                                  <table class="dfs-response-modal-140">
                                    <tr>
                                      <th class="tg-kr94" rowspan="2">№ з/п</th>
                                      <th class="tg-kr94" rowspan="2">Результат обробки запиту**</th>
                                      <th class="tg-kr94" colspan="2">Джерела отримання доходів</th>
                                      <th class="tg-kr94" rowspan="2">Сума доходу</th>
                                      <th class="tg-kr94" rowspan="2">Сума податку</th>
                                      <th class="tg-kr94" rowspan="2">Ознака доходу</th>
                                      <th class="tg-kr94" rowspan="2">Коротка назва виду доходу</th>
                                      <th class="tg-kr94" colspan="2">Період, за який надається інформація</th>
                                    </tr>
                                    <tr>
                                      <td class="tg-kr94">Податковий номер/серія та номер,паспорта,податкового агента***</td>
                                      <td class="tg-kr94">Назва юридичної особи/ПІБ фізичної особи –<br>підприємця</td>
                                      <td class="tg-kr94">квартал</td>
                                      <td class="tg-kr94">рік</td>
                                    </tr>

                                    <tr ng-repeat="row in vm.viewContent.DECLAR.DECLARBODY[0].T1RXXXXG2" ng-init="ind = $index; content = vm.viewContent.DECLAR.DECLARBODY[0]">
                                      <td class="tg-s6z2">{{ ind + 1 }}</td>
                                      <td class="tg-s6z2">{{ row._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG3S[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG4S[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG5[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG6[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG7[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG8S[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG9[ind]._ }}</td>
                                      <td class="tg-s6z2">{{ content.T1RXXXXG10[ind]._ }}</td>
                                    </tr>
                                  </table>

                                  <div style="font-size: 12px">
                                    <h4 style="display: inline-block; font-weight: bold">Дата формування відповіді на запит </h4> <u style="font-size: 16px;font-weight: bold;"> &nbsp;&nbsp;{{vm.parseDate(vm.viewContent.DECLAR.DECLARHEAD[0].D_FILL[0])}}&nbsp;&nbsp; </u><br>
                                    <b>*</b> серія та номер паспорта зазначають фізичні особи, які мають відмітку в паспорті про право здійснювати будь-які платежі за серією та номером паспорта;<br>
                                    <b>**</b> Результат обробки запиту може приймати наступні значення:<br>
                                    <b>Відповідь надано відповідно до:</b><br>
                                    <b>1</b> –податковий  розрахунок сум доходу, нарахованого (сплаченого) на користь фізичних осіб, і сум утриманого з них податку, форма N 1ДФ (Наказ Міністерства фінансів України від 13.01.2015 № 4, зареєстровано в Міністерстві юстиції України 30 січня 2015 р. за № 111/26556), в графі «Сума доходу» зазначаються суми нарахованого доходу з графи 3а  ф.№1ДФ, в графі «Сума податку» зазначаються суми утриманого податку з графи 4а ф.№1ДФ;<br>
                                    <b>2</b> –  податкова декларація платника єдиного податку фізичної особи–підприємця (Наказ Мінфіна України  від 21.12.2011 № 1688) - в графі «Сума доходу» зазначається значення рядка 21, в графі «Сума податку» зазначаються значення рядка 27 (поле ознака доходу по цім записям приймає значення 999);<br>
                                    податкова декларації про майновий стан і доходи (Наказ Міндоходів 793 від 11.12.2013) в графі «Сума доходу» зазначаються значення  рядка 7  розділ І додатку 5 до розділу ІІІ/ рядка 06 розділу IV податкової декларації,  в графі «Сума податку» зазначаються значення  рядка 3  розділу  ІІ  додатку 5 до ІІІ розділу податкової декларації/рядка 07 розділу IV податкової декларації (поле ознака доходу по цім записям приймає значення 999);<br>
                                    <b>Відповідь не надано з причини:</b><br>
                                    <b>3</b> – інформація щодо сум виплачених доходів та утриманих податків за запитуваємий період в Державному реєстрі фізичних осіб – платників податків (далі – Державний реєстр)  відсутня;<br>
                                    <b>4</b> – фізична особа в Державному реєстрі з вказаним реєстраційний номер облікової картки платника податків не зареєстрована/ фізична особа з вказаними серією та номером паспорта в Окремому реєстрі Державного реєстру не зареєстровано;<br>
                                    <b>5</b> – незаповнені або некоректно заповнені поля, що обов’язкові для заповнення;<br>
                                    <b>6</b> – реєстраційні дані фізичної особи  зазначені у запиті  не відповідають  інформації, яка міститься у  Державному реєстрі ( відповідно до пункту 70.7 статті 70 Податкового кодексу України всі фізичні особи- платникі податків зобов’язані подавать контролюючим органам відомості про зміну даних, які вносяться до облікової картки або  повідомлення. Необхідно  подати заяву про внесення змін до Державного реєстру);<br>
                                    <b>7</b> – не вірно вказаний  період, за який запитується інформація;<br>
                                    <b>***</b> Код ЄДРПОУ - для юридичних осіб, реєстраційний номер облікової картки платника податків – для фізичних осіб – підприємців або серія та номер паспорта фізичних осіб – підприємців,  які мають відмітку в паспорті про право здійснювати будь-які платежі за серією та номером паспорта.<br>
                                  </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.onDownload()">Зберегти оригiнал</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center"
                         ng-if="vm.isLoading">
                        <img class="text-center section-preloader"
                             src="assets/images/loading.gif"
                             alt="Loading"/>
                    </div>

                    <!--END MODAL-->
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!vm.isLoggedIn" class="row">
        <div class="text-center">
            <p>Будь ласка, увійдіть в систему</p><br />
            <div service-auth-block
                 redirect-uri="{{vm.getRedirectURI()}}"
                 auth-methods="{{getAuthMethods()}}">
            </div>
        </div>
        <div class="text-center" ng-show="error">
            <p>{{error}}</p>
        </div>
    </div>
</div>
