.btn-share-refer {
  background-color: inherit;
  padding: 1px 5px;
  border: none !important;
  outline: none !important;
}

.share-td-people {
  background-color: white !important;
  vertical-align: middle !important;
  width: 60%;
}


.share-td-refer .glyphicon-remove {
  color: grey;
}

.share-td-people, .share-td-date, .share-td-refer {
  vertical-align: middle;
}

.share-table-refer {
  margin: 0 auto;
  border: 1px solid #f3f0f0;
  width: 100%;
}

.share-main-position {
  padding-left: 0;
  padding-right: 0;
}

.share-row-refer {
  padding-left: 20px !important;
}

.share-table-ref {
  width: 100%;
}

p.share-people-inline {
  margin: 0 0 8px;
  cursor: pointer;
  font-size: 14px;
}

.btn-share-trash {
  border: 1px solid #3694BA;
  color: #3694BA;
  padding: 8px 15px;
  background-color: #fff;
  margin: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.btn-share-trash:active, .btn-share-trash:focus {
  outline: none !important;
}

.btn-share-record:active, .btn-share-record:focus {
  outline: none !important;
}

.btn-share-trash:active {
  border: 1px solid #3694BA;
}

.share-remove {
  color: #797072;
}

.share-glyphicon-trash {
  color: #3694BA;
}

#dynam-a {
  display: none;
}

.share-container {
  position: relative;
  top: 75px;
  margin: 15px;
  padding: 0;
  height: 90vh;
}

.share-container #viewerContainer {
  background: #404040;
}

.share-main {
  padding: 15px 0;
}

.share-container .share-main-row,
.share-container .share-main-row .share-main-content,
.share-container .share-main-row .share-main-content .share-pdf-directive {
  height: 100%;
}

.share-signblock {
  height: 100%;
  margin-bottom: 15px;
  background: white;
  padding-bottom: 15px;
}

.share-sign-button, .share-sign-button:hover, .share-sign-button.active, .share-sign-button:active, .share-sign-button:focus {
  background: #3694BA;
  color: white;
  width: 100%;
  border-radius: 3px;
  text-decoration: none;
}

.share-container .pdfjs .toolbar {
  z-index: 1000;
}

.share-main .col-xs-6 a {
  border: 1px solid #3694BA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

.share-signers-header .col-sm-7, .share-signers-header .col-sm-3, .share-signers-header .col-sm-2 {
  background: #F4F4F4;
  height: 100%;
}

.btn-share-record, .btn-share-record:hover, .btn-share-record.active, .btn-share-record:active, .btn-share-record:focus {
  background: #FCFCFC;
  border: 1px solid #3694BA;
  border-radius: 3px;
  text-decoration: none;
  color: #3694BA;
  float: right;
}

.btn-share-user, .btn-share-user:hover, .btn-share-user.active, .btn-share-user-record:active, .btn-share-user:focus {
  text-decoration: none;
  outline: none !important;
  color: #3694BA;
}

.share-row.share-row-refer {
  vertical-align: middle;
}

.share-td-date span {
  display: block;
  font-size: 12px;
  color: grey;
}

.btn-share-user, .btn-share-record {
  padding: 2px 12px;
}

.share-main .control-buttons {
  padding-left: 0;
}

.share-menu-header {
  padding: 10px 0;
  background: #F3F0F0;
}

.share-menu-header .col-xs-7 {
  padding-top: 5px;
}


.share-signers-list {
  padding: 10px 0;
  border: 1px solid #F3F0F0;
  /*margin-bottom: 10px;*/
}

.share-signers-container {
  /*border: 1px solid #F3F0F0;*/
  height: 40vh;
}

@media (max-width: 1200px) {
  .share-main .control-buttons {
    padding-top: 10px;
    padding-left: 15px;
  }
  .share-main .control-buttons .col-xs-6 a {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .share-menu-header {
    height: 4em;
  }
  .share-menu-header .col-xs-7 {
    padding-top: .75em;
  }
  .share-menu-header .col-xs-3 {
    padding-top: .25em;
  }
  .share-menu-header .col-xs-2 {
    padding-top: .5em;
  }
  .share-signers-list {
    padding: 20px 0 45px 0;
  }
  .share-signers-container, .share-signblock {
    height: auto;
  }
  .share-container {
    overflow-x: hidden;
  }
  .btn-share-trash {
    position: relative;
  }
}
@media (max-width: 768px) {
  .share-main .control-buttons {
    padding-top: 40px;
    padding-left: 15px;
  }
  .idoc-logo-content {
    float: none !important;
    width: 95%;
  }
}
