<div style="position:relative"
     dropdown class="dropdown"
     is-open="dropdown.isOpen">

  <div class="input-group">

    <input autocomplete="off"
           class="form-control"
           type="text"
           ng-model="typeahead.model"
           typeahead="data as data[autocompleteData.titleProperty] for data in loadDataList($viewValue) | orderBy:autocompleteData.titleProperty"
           typeahead-on-select="onSelectDataList($item)"
           typeahead-empty
           ng-required="ngRequired"/>

    <span class="input-group-btn">
      <button class="btn btn-default"
              type="button"
              dropdown-toggle data-toggle="dropdown">
        <span class="caret"></span>
      </button>
    </span>

  </div>

  <ul class="dropdown-menu" style="display: none" role="menu">
    <li ui-scroll="data in dropdown">
      <a ng-click="onSelectDataList(data)">{{data[autocompleteData.titleProperty]}}{{data}}</a>
    </li>
  </ul>

</div>
