.table-ng-modal-dialog-content table {
  width: 100%;
}
.table-ng-modal-dialog-content h1 {
  padding-bottom: 20px;
}
.table-ng-modal-dialog-content table thead tr {
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(242,242,242,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2', GradientType=0 );
}
.table-ng-modal-dialog-content table td, .table-ng-modal-dialog-content table th {
  border: 1px solid #EDEDED;
  text-align: center;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
}
.table-ng-modal-dialog-content table tbody tr:nth-child(even){
  background: #F2F2F2;
}

.table-ng-modal-overlay, .users-hierarchy-modal-overlay {
  background: #E6E6E6;
  position: fixed;
  z-index: 9999;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.table-ng-modal-dialog, .users-hierarchy-modal-dialog {
  z-index:10000;
  position: fixed;
  max-width: 60%;
  display: inline-block;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  max-height: 90%;
  padding-bottom:20px;
  width: auto !important;
}

.table-ng-modal-header, .users-hierarchy-modal-header {
  height: 30px;
}

.table-ng-modal-close, .users-hierarchy-modal-close {
  padding: 7px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
  float: right;
}

.table-ng-modal-dialog-content-view {
  overflow-y: auto;
  max-height: 88%;
}

.table-ng-modal-dialog-content, .users-hierarchy-modal-dialog-content {
  padding:10px;
  text-align: left;
  display: inline;
}

.table-ng-modal-dialog-print-button {
  float: right;
  padding: 10px;
}

.users-hierarchy-modal-dialog-content-view {
  overflow-y: auto;
  height: 90%;
}
.users-hierarchy-modal-dialog {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
