.ng-modal-dialog-content table {
  width: 100%;
}
.ng-modal-dialog-content h1 {
  padding-bottom: 20px;
}
.ng-modal-dialog-content table thead tr {
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(242,242,242,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(242,242,242,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f2f2f2', GradientType=0 );
}
.ng-modal-dialog-content table td, .ng-modal-dialog-content table th {
  border: 1px solid #EDEDED;
  text-align: center;
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ng-modal-dialog-content table tbody tr:nth-child(even){
  background: #F2F2F2;
}

.ng-modal-overlay {
  background: #E6E6E6;
}
