<div ng-show="tableContentShow" class="table-ng-modal">
  <div class='table-ng-modal-overlay' ng-click='tableContentShow=false'></div>
  <div class='table-ng-modal-dialog' ng-style='dialogStyle'>
    <div class='table-ng-modal-header'>
      <div class='table-ng-modal-close' ng-click='tableContentShow=false'>X</div>
    </div>
    <div class='col-md-12 table-ng-modal-dialog-content-view' ng-style='dialogStyle'>
      <div class='table-ng-modal-dialog-content' ng-if="!attachIsLoading">
        <h1>{{openedAttachTable.name}}</h1>
        <table>
          <thead>
          <tr>
            <th ng-repeat="item in openedAttachTable.content[0].aField">{{item.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="row in openedAttachTable.content">
            <td ng-repeat="item in row.aField">{{item.value ? item.value : (item.default? item.default : item.props.value)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class='table-ng-modal-dialog-print-button'>
      <button ng-click='printTable()' class='btn btn-igov'>Роздрукувати</button>
    </div>
  </div>
</div>
