.disp-no {
  display: none;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic);

section.body {
  font-family: 'Open Sans', sans-serif;
}

#scan-form {
  position:relative;

  border-radius:2px;
  margin-bottom: 20px;
}

#scan-form h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding: 35px 0 25px 30px;
  margin-bottom: 0px;
  margin-top: 0px;

}

#scan-form fieldset {
  padding: 4% 5% 4% 5%;
}

#scan-form .form-field {
  position: relative;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
}

#scan-form input
{
  width:300px;
}

@media (min-width: 1200px) {
  #scan-form input {
    width: 390px;
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  #scan-form input {
    width: 195px;
  }
}

@media (max-width: 767px) {
  #scan-form input {
    width: 195px;
  }
}

#scan-form select, #scan-form input, #start-scan-button{
  width: 100%;
}

#scan-form input, select{
  font-family: 'Open Sans', sans-serif;
  padding: 16px 20px 16px 100px;
  border: none;
  box-shadow: none;
  border-radius:1px;
  margin-bottom: 0px;
}

#scan-form select {
  height:52px;
}

#scan-form select option{
  font-family: 'Open Sans', sans-serif;
}
#scan-form select option:focus{
  font-family: 'Open Sans', sans-serif;
  border: none;
}

#scan-form input:focus, #scan-form select:focus, #scan-form button:focus {
  box-shadow: none !important;
  outline:none;
}

#scan-form input:disabled, #scan-form select:disabled, #scan-form button:disabled {
  box-shadow: none !important;
  outline:none;
}

#start-scan-button {
  background: #558B2F;
  padding: 20px;
  color: #DCEDC8;
  margin: 10px 0 20px 0;
  font-weight: normal;
  text-transform:uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  padding-left: 20px;
  box-shadow: none;
}

#start-scan-button:hover {
  background: #7CB342;
}

#start-scan-button:focus {
  background: #7CB342;
  box-shadow: none !important;
  outline:none;
}

#start-scan-button:disabled {
  box-shadow: none !important;
  outline:none;
}

#scan-form .mode-switch-container {
  text-align: center;
}

#scan-form .mode-switch {
  padding:10px;
  border: none;
  border-radius:1px;
  font-size: 12px;
  margin: 20px 0px 20px 0px;
  text-transform:uppercase;
}



#scan-form .mode-switch.active {
  background: #558B2F none;
  color: #DCEDC8;
  cursor: default;
}

#scan-form .mode-switch.inactive {
  background-color: #808080;
  border: 1px solid #202020;
}



#scan-form label{
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  padding: 20px 0px 20px 10px;
  margin: 0px;
  font-weight: 100;

}
#scan-form .loading-scan-param {
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
}


.story {
  opacity: 0.7;
  padding: 20px;
}

.news {
  opacity: 0.7;
  padding: 20px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}


@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
