<div class="modal-header">
  <h2>Параметри сканування</h2>
</div>
<div class="modal-body">
  <form method="post" id="scan-form" ng-submit="submitScanForm">
    <fieldset>
      <div class="form-field">
        <label for="Form_Dpi">Джерело ❯</label>
        <select id="Form_Source" name="Form.Source">
          <option value="0">Пристрій не визначено</option>
        </select>
      </div>
      <div class="form-field">
        <label for="Form_FileName">Ім'я файлу ❯</label>
        <input id="Form_FileName" name="Form.FileName" type="text" value="Скан"/>
      </div>
      <div class="form-field">
        <label for="Form_FileCounter">Номер ❯</label>
        <input id="Form_FileCounter" name="Form.FileCounter" type="text" value="001"/>
      </div>
      <div class="form-field">
        <label for="Form_Dpi">Dpi ❯</label>
        <select id="Form_Dpi" name="Form.Dpi"></select>
        <select id="Form_Dpi_Hidden" class="disp-no"></select>
      </div>
      <div class="form-field">
        <label for="Form_ScanFeed">Податчик ❯</label>
        <select id="Form_ScanFeed" name="Form.ScanFeed"></select>
      </div>
      <div class="form-field">
        <label for="Form_ColorMode">Колір ❯</label>
        <select id="Form_ColorMode" name="Form.ColorMode"></select>
      </div>
      <div class="form-field">
        <label for="Form_CompressionFormat">Стиснення ❯</label>
        <select id="Form_CompressionFormat" name="Form.CompressionFormat">
          <option selected="selected" value="100*jpg">JPEG 100%</option>
          <option value="75*jpg">JPEG 75%</option>
          <option value="50*jpg">JPEG 50%</option>
          <option value="25*jpg">JPEG 25%</option>
          <option value="100*Bmp">BMP</option>
          <option value="100*Tiff">TIFF</option>
        </select>
      </div>
      <div class="form-field">
        <label for="Form_Format">Розмір ❯</label>
        <select id="Form_Format" name="Form.Format"></select>
      </div>
      <div class="form-field mode-switch-container">
        <button type="button" changeaction="addClass('disp-no')" id="conventional-scan"
                class="mode-switch active">Звичайне сканування
        </button>
        <button changeaction="removeClass('disp-no')" type="button" id="package-scan"
                class="mode-switch inactive">Пакетне сканування
        </button>
      </div>
      <div class="form-field  disp-no package-setting">
        <label for="Form_CountScans">Кількість ❯</label>
        <input id="Form_CountScans" type="text" value="001"/>
      </div>
      <div class="form-field disp-no package-setting">
        <label for="Form_ScanInterval">Інтервал ❯</label>
        <input id="Form_ScanInterval" type="text" value="001"/>
      </div>
      <div class="form-field disp-no package-setting package-feeder-setting">
        <label for="Form_SaveAs">Зберегти як ❯</label>
        <select id="Form_SaveAs" name="Form.SaveAs">
          <option value="0">Рисунки</option>
          <option value="1">PDF</option>
        </select>
      </div>
      <!--
      <div class="form-field">
        <input type="submit" value="Сканувати"/>
      </div>
      -->
      <button ng-click="submitScanForm()">Сканувати</button>
    </fieldset>

  </form>
</div>
<div class="modal-footer">

</div>
