<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-1 control-label" for="searchCtrl">Пошук</label>
    <div class="col-sm-5">
      <input id="searchCtrl" class="form-control" type="text" ng-model="search">
    </div>
    <div class="col-sm-4"></div>
    <button class="btn btn-primary pull-right col-sm-2" ng-click="add()">Додати користувача</button>
  </div>
</div>
<div ng-init="init()" >
  <table class="table">
    <thead>
    <tr>
      <th>Логін</th>
      <th>Ім'я</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody ng-if="!model.inProgress">
    <tr ng-repeat="user in get() | filter: search">
      <td>{{user.sLogin}}</td>
      <td>{{user.FirstName}}  {{user.LastName}}</td>
      <td>{{user.Email}}</td>
      <td class="col-md-4 rulebuttons">
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="edit(user)">
            Редагувати
          </button>
          <button type="button" class="btn btn-danger" ng-click="delete(user)"
                  tooltip="Видалити" tooltip-trigger="mouseenter" tooltip-placement="top"  tooltip-append-to-body="true">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center" ng-show="model.inProgress">
    <img class="text-center"
         src="assets/images/loading.gif"
         alt="Loading"/>
  </div>
</div>
