<button-file-select ng-if="vm.options.mode === 'MANUAL'" on-file-select="vm.onSelect($files)" ng-disabled="vm.file.isUploading">
  <ng-transclude></ng-transclude>

  <span class="small-loading" ng-if="vm.file.isUploading"></span>
</button-file-select>

<button class="btn btn-link"
        ng-if="vm.options.mode === 'AUTO'"
        ng-click="vm.onDownload()"><span class="glyphicon glyphicon-download"></span> {{vm.options.text}}</button>

<label ng-if="vm.file.value">Файл: {{vm.file.fileName}}</label>