
.u21 {
  width:36px !important;
  height:36px;
  line-height:36px;
  color:#FFFFFF;
  background: #65ABD0;
  border-radius: 18px;
  padding: 0 4px !important;
  margin-top: 10px;
  float:left;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-align:center;
}
.u21.my {
  float: right;
  background-color: #FFCC00;
  color: #990000;
  margin-right: -100px;
}
.u21.my + .u31 {
  margin-left: 100px;
  margin-right: -50px;
  background-color: #FEF9E6;
}

.u31 {
  font-size:16px;
  background-color: #EFF6F9;
  border-radius: 5px;
  padding: 5px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.u31:after {
  clear: both;
  content: " ";
  display: table;
}
.u31 p {
  margin: 10px 5px 0 5px;
  font-family:'Arial Обычный', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:normal;
  color:#333333;
  text-align:left;
  line-height:normal;
}
.u31 {
  p, label {
    word-wrap: break-word;
  }
}
.u33 {
  font-family:'Arial Полужирный', 'Arial';
  font-weight:700;
  font-size:11px;
  color:#000000;
}
.u53 {
  font-size:11px;
}
.u33, .u53 {
  margin: 0 5px;
}

.u39 {
  font-size:16px;
  margin-left: 8em;
  margin-bottom: 1em;
  padding-right: 7em;
  position: relative;
}
h1.u39 {
  font-size: 20px;
  font-weight: normal !important;
  padding-right: 0;
  margin-left: 6em;
}
.u39:after {
  clear: both;
  content: " ";
  display: table;
}
.u39 .more {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: normal;
}
.u41 {
  font-family:'Arial Курсив', 'Arial';
  font-style:italic;
  font-weight: normal;
  color:#999999;
  font-size: 13px;
}

.date_shape {
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  padding: 0 4px !important;
  white-space: nowrap;
  font-size: 11px;
  font-weight: 400;
  margin: 0 15px;
  float: left;
  min-width: 8em;
}
.date_shape.remark {
  background-color: #FFEBCC;
  border: 1px solid #FF6666;
}
.date_shape.comment {
  background-color: #FFFFCC;
  border: 1px solid #FFCC33;
}
.date_shape.remark + .u39,
.date_shape.comment + .u39 {
  font-weight: 700;
}
.date_shape.closed {
  background-color: #EBEBEB;
  border: 1px solid #CCCCCC;
}
.date_shape.processing {
  background-color: #CCEBCC;
  border: 1px solid #00CC00;
}
.date_shape time {
  font-size: 13px;
  display: block;
}
