<div class="col-md-12 checkout-block">
  <div ng-if="!paymentStatus">
    <div class="col-md-7">
      <h3 style="font-weight: normal">Оберіть карту для оплати</h3>

      <span class="checkout-block-description">
        <span ng-if="!userCards">
          Крок 1. Додайте картку у гаманець Masterpass за <a href="{{registerLink}}" target="_blank">цим посиланням</a>. <br>
          Крок 2. <a ng-click="authorizeCheckout()">Натисніть тут</a>, щоб оновити список карток.
        </span>
      </span>

      <div class="list-group card-list-block" ng-if="userCards && !userCards.error">
        <ul>
          <li ng-repeat="card in userCards">
            <label class="list-group-item list-group-item-action checkout-list-card"
                   ng-click="selectCard(card.mask, card.card_alias)"
                   ng-class="{'checkout-selected-card': isSelectedCard(card.mask), 'card-list-disabled': checkoutConfirm.status === 'confirm' || checkoutSpinner}">
              <span>{{card.card_alias}}  </span>  <span>{{card.mask}}</span>
              <input type="radio" ng-model="$parent.mask" name="name" value="{{card.mask}}" ng-init="$index==0?($parent.mask=card.mask):''">
              <button type="button" class="btn btn-link checkout-remove-card" ng-click="removeCardFromWallet(card.card_alias)">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </label>
          </li>
        </ul>
      </div>
      <h4 ng-if="userCards && !userCards.error" class="checkout-add-card">
        <span>
          Якщо Ви бажаєте використати іншу картку: <br>
          Крок 1. Додайте картку у гаманець Masterpass за <a ng-click="addNewCardToWallet()">цим посиланням.</a> <br>
          Крок 2. <a ng-click="authorizeCheckout()">Натисніть тут</a>, щоб оновити список карток. <br>
        </span>
      </h4>
    </div>

    <div class="col-md-5 checkout-right-side" ng-if="checkoutConfirm.status === 'checkout' && !checkoutSpinner">
      <div class="checkout-price-and-pay">
        <h3>Сума до сплати</h3>
        <h3 ng-bind="::getPrice() + ' грн'"></h3>
        <div class="checkout-btn-block">
          <button class="btn btn-xl btn-default checkout-confirm"
                  type="button"
                  ng-click="createPayment()"
                  ng-disabled="!selectedCard.alias">Сплатити</button>
        </div>
      </div>
    </div>

    <div class="col-md-5 checkout-right-side" ng-if="checkoutConfirm.status === 'confirm' && !checkoutSpinner">
      <div class="checkout-price-and-pay">
        <h3 style="font-weight: normal">Введiть SMS-пароль</h3>
        <input type="text" class="form-control checkout-otp" ng-model="checkoutData.payment.verify_code">
        <div class="checkout-btn-block">
          <button class="btn btn-xl btn-default checkout-confirm"
                  ng-click="otpConfirmPayment()"
                  ng-disabled="!selectedCard.alias">Пiдтвердити</button>
          <a class="checkout-choose-another-card" ng-click="chooseAnotherCard()">Обрати iншу карту</a>
        </div>
      </div>
    </div>

    <div ng-if="checkoutSpinner" class="col-md-5 checkout-right-side checkout-spinner">
      <img src="/assets/images/checkout-spinner.gif" alt="опрацювання">
    </div>
  </div>

  <div class="col-xs-12 checkout-error" ng-if="paymentStatus && paymentStatus == 4">
    <img src="/assets/images/checkout-fail.png" alt="Помилка">
    <h3>Сталась помилка, спробуйте пiзнiше</h3>
    <a ng-click="authorizeCheckout()"><h4>Оновити</h4></a>
  </div>

  <div class="col-xs-12 checkout-success" ng-if="paymentStatus && paymentStatus == 5">
    <img src="/assets/images/checkout-success.png" alt="Успiх">
    <h3>Платiж успiшний</h3>
    <h3 style="font-weight: normal">{{'ID  ' + checkoutData.payment.result}}</h3>
  </div>

</div>
