<style>
  label {
    margin-bottom: 0;
  }
  .open-full-info a {
    font-size: 24px;
  }
  .open-full-info a:hover {
    text-decoration: none;
  }
</style>

<div class="back-forward-btns" ng-class="{'col-xs-9':isMenuOpened, 'col-xs-12':!isMenuOpened}">
  <button class="btn btn-default" ng-click="backAndForth()"> &#60;&#60; </button>
</div>

<div class="tasks-form-view" ng-class="{'col-xs-9':isMenuOpened, 'col-xs-12':!isMenuOpened}" ng-if="creatingTask.aFormProperty">
  <div class="col-xs-12">
    <select class="form-control" title="{{selectedTask.sName_BP}}" disabled>
      <option value="currentBp" selected>{{selectedTask.sName_BP}}</option>
    </select>
  </div>

  <hr class="hr-divider" style="width:100%;margin-top: 60px">

  <div>
    <form name="form" style="padding-bottom: 70px">

      <div ng-repeat="item in creatingTask.aFormProperty track by item.id" class="task-form-property row">

        <div ng-if="['string', 'long', 'double'].indexOf(item.type) > -1" class="row form-field">
          <div class="col-md-12">
            <span class="col-md-6 task-form-title">
              <label>{{sFieldLabel(item.name)}} <span ng-if="item.required && item.writable" style="color: red">*</span></label>
            </span>
            <div class="col-md-6">
              <input name="{{item.id}}"
                     class="form-control"
                     style="width:100%;"
                     ng-readonly="isFormPropertyDisabled(item)"
                     ng-required="item.required"
                     ng-class="{'submitted': item.required && isFormInvalid}"
                     ng-model="item.value"/>
            </div>
          </div>
        </div>

        <div ng-if="['date'].indexOf(item.type) > -1" class="col-sm-12 form-field">
            <span class="col-md-6 task-form-title">
              <label>{{sFieldLabel(item.name)}} <span ng-if="item.required && item.writable"
                                                      style="color: red">*</span></label>
            </span>
          <div class="col-md-6">
            <div class="input-group">
              <div class='input-group date' id='datetimepicker1'>
                <input type="text" class="form-control input-sm form-control"
                       format='DD/MM/YYYY'
                       separator='/'
                       datetimepicker
                       name="{{item.id}}"
                       ng-required="item.required"
                       ng-class="{'submitted': item.required && isFormInvalid}"
                       ng-model="item.value" />
              </div>
            </div>
          </div>
        </div>

        <div ng-if="item.type == 'textArea'" class="col-sm-12 form-field">
          <div class="col-md-6 task-form-title">
            <label>{{sFieldLabel(item.name)}} <span ng-if="item.required && item.writable" style="color: red">*</span></label>
          </div>
          <div class="col-md-6" style="padding-right: 0">
            <textarea name="{{item.id}}"
                      class="form-control"
                      ng-required="item.required"
                      ng-model="item.value"
                      ng-class="{'submitted': item.required && isFormInvalid}"
                      style="width:100%;">
            </textarea>
          </div>
        </div>

        <div ng-if="item.type == 'enum'" class="row">
          <div class="col-md-12">
            <div class="col-sm-6 task-form-title">
              <label>{{sFieldLabel(item.name)}} <span ng-if="item.required && item.writable" style="color: red">*</span></label>
            </div>
            <div class="col-md-6" style="margin-bottom: 15px">
              <select name="{{item.id}}"
                      style="width:100%; height:25px;;"
                      class="form-control"
                      ng-options="oEnumValue.id as oEnumValue.name for oEnumValue in item.enumValues"
                      ng-required="item.required"
                      ng-class="{'submitted': item.required && isFormInvalid}"
                      ng-model="item.value">
              </select>
            </div>
          </div>
        </div>

        <div ng-if="item.type == 'checkbox'" class="row">
          <div class="col-md-12">
            <div class="col-sm-6 task-form-title">
              <label>{{sFieldLabel(item.name)}} <span ng-if="item.required && item.writable" style="color: red">*</span></label>
            </div>
            <div class="col-md-6">
              <div ng-class="{'checkbox-indeterminate': item.value === null}">
                <input type="checkbox"
                       id="{{item.id}}"
                       name="{{item.id}}"
                       ng-model="item.value"
                       ng-true-value="'{{item.checkbox[item.id].trueValue}}'"
                       ng-false-value="'{{item.checkbox[item.id].falseValue}}'"
                       checkbox-indeterminate="item.value === null"
                       ng-class="{'submitted': item.required && isFormInvalid}"
                       ng-required="item.required && item.value === null">
                <label for="{{item.id}}"></label>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="item.type == 'file' && item.id.indexOf('PrintForm') === -1"
             class="col-md-12 form-field">
          <div class="col-md-6 task-form-title">
            <label>
              {{sFieldLabel(item.name)}}
              <span ng-if="item.required && item.writable" style="color: red">*</span>
            </label>
          </div>
          <div class="col-md-6" style="margin-bottom: 15px">
            <file-field name="{{item.id}}"
                        ng-class="{'error-creating': item.required && isFormInvalid}"
                        ng-model="item.value"
                        ng-required="item.required">Add File
            </file-field>
          </div>
        </div>


        <div ng-if="(['table'].indexOf(item.type) > -1)" class="col-sm-12 form-field">
          <table-field></table-field>
        </div>

        <div ng-if="(['select'].indexOf(item.type) > -1)" class="col-sm-12 form-field">
          <div class="col-sm-6 task-form-title">
            <label>{{sFieldLabel(item.name)}} <span ng-if="item.required && item.writable" style="color: red">*</span></label>
          </div>
          <div class="col-md-6" style="padding-right: 0">
            <ui-select dropdown-autocomplete ng-if="item.selectType=='autocomplete'"
                       ng-model="item.value"
                       name="item.id"
                       ng-class="{'submitted': item.required && isFormInvalid}"
                       ng-required="item.required"
                       autocomplete-data="item.autocompleteData"
                       autocomplete-name="item.autocompleteName"
                       reach-infinity="requestMoreItems($select.items)"
                       on-select="onSelectDataList($item)">
              <ui-select-match>
                {{$select.selected[autocompleteData.titleProperty] || item.value}}
              </ui-select-match>
              <ui-select-choices refresh="refreshList(item.autocompleteData.titleProperty, $select.search, item.name)"
                                 refresh-delay="300"
                                 repeat="field[item.autocompleteData.titleProperty] as field in items track by field[item.autocompleteData.orderBy]">
                         <span title="{{field[item.autocompleteData.titleProperty]}}">
                           {{field[item.autocompleteData.titleProperty]}}
                         </span>
              </ui-select-choices>
            </ui-select>
          </div>
        </div>

        <span class="validation-message col-md-offset-6 col-md-6" style="position: relative;bottom: 5px;" ng-messages="isFormInvalid && form[item.id].$error">
          <span ng-message="required">Необхідно заповнити.</span>
          <span ng-message="pattern">Значення має бути числом.</span>
          <span ng-message="email">Помилка в email.</span>
          <span ng-message="tel">Помилка в номері телефону.</span>
          <span ng-message="autovin">Помилка у VIN-номері авто.</span>
          <span ng-message="string">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="long">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="double">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="textua">Текст може містити тількі українські літери або мінус чи пробіл.</span>
          <span ng-message="textru">Текст може містити тількі російські літери або мінус чи пробіл.</span>
          <span ng-message="dateformat">Дата може бути тільки формату DATE_FORMAT.</span>
          <span ng-message="dateelapsed">З/до дати з/після сьогоднішньої, має бути більше/менше ніж х-днів, х-місяців, х-років.</span>
          <span ng-message="string">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="long">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="double">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="numberbetween">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="numberfractionalbetween">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="numbersaccounts">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="dateofbirth">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="CustomFormat">{{ form[item.id].lastErrorMessage }}</span>
          <span ng-message="CodeKVED">Такого КВЕД не існує - (ви не можете вписувати літери)</span>
          <span ng-message="CodeEDRPOU">Такий код ЄДРПОУ не існує - (ви не можете вписувати літери)</span>
          <span ng-message="CodeMFO">Такого коду банку не існує - (ви не можете вписувати літери)</span>
          <span ng-message="FileSign">Підпис не валідний або відсутній</span>
          <span ng-message="documentdate">Дата може бути тільки формату ДД.ММ.PPPP.</span>
          <span ng-message="FieldNotEmptyAndNonZero">Будь ласка, оберiть iз запропонованого перелiку</span>
          <span ng-message="OrderValue">Такого номеру не існує</span>
        </span>

      </div>

    </form>
  </div>

  <div class="create-task-menu main-form-controls" ng-class="{'width-with-opened-menu':isMenuOpened, 'width-with-closed-menu':!isMenuOpened}">
    <button ng-click="submit(form)"
            class="btn btn-info take-to-work-button"
            ng-disabled="isSuccessfullySubmitted"
            style="background-color: #337ACF; outline: none; border: none; margin: 5px">Створити
    </button>
  </div>

</div>
