<form name="form" novalidate style="margin-top: 30px" ng-class="{'padding-bottom-280': inUnassigned()}">
  <div ng-repeat="item in taskForm" class="task-form-property" ng-if="isFieldVisible(item)" ng-class="getBpAndFieldID(item)">

          <span ng-if="['string', 'long'].indexOf(item.type) > -1 && item.value" style="margin-bottom: 10px">
            <span>
              <simple-field></simple-field>
            </span>
          </span>
          <span ng-if="['date'].indexOf(item.type) > -1">
            <date-field></date-field>
          </span>

    <textarea-field></textarea-field>

    <user-field></user-field>

    <enum-field></enum-field>

    <marker-field></marker-field>

          <span style="display: none;" ng-if="['invisible'].indexOf(item.type) > -1">
            <field-title></field-title>
          </span>

          <span ng-if="['label'].indexOf(item.type) > -1">
            <label>{{item.value}}</label>
          </span>

          <span ng-if="['queueData'].indexOf(item.type) > -1">
            <field-title></field-title>
            <label title="{{nID_FlowSlotTicket_FieldQueueData(item.value)}}">{{sDate_FieldQueueData(item.value)}}</label>
          </span>

    <div ng-if="clarify && item.writable && (item.type==='string' || item.type==='textArea' || item.type==='date')"> <!--item.writable-->
      <input type="checkbox" ng-model="clarifyFields[item.id].clarify" id="{{item.id}}_clarify"/>
      <label for="{{item.id}}_clarify">Уточнити</label>

      <div ng-if="clarifyFields[item.id].clarify">
              <textarea ng-model="clarifyFields[item.id].text" class="form-control"
                        placeholder="Уточнення для {{sFieldLabel(item.name)}}"></textarea>
      </div>
    </div>
  </div>

  <div class="control-form-fields" ng-if="taskData.aAttachment.length > 0">
    <div class="addition-hr">
      <hr class="hr-divider side-left"><span>Додатки</span><hr class="hr-divider side-right">
    </div>

    <div>
      <div class="dropup" ng-repeat="item in taskData.aAttachment" style="display: inline-block; position:relative;">
        <div class="like-modal dropdown-menu drop-up" role="menu" style="bottom: 128%">
          <p>{{item.description}}</p>
          <a href="/api/tasks/{{taskId}}/attachments/{{item.id}}/content/{{($index+1)}}"
             target="_blank"
             ng-if="!isTableAttachment(item.description)"
             class="btn btn-info">Завантажити
          </a>
          <a ng-click="openTableAttachment(item.id)"
             ng-if="isTableAttachment(item.description)"
             class="btn btn-info">Переглянути
          </a>
          <button class="btn btn-info"
                  ng-disabled="checkSignState.inProcess"
                  ng-click="checkAttachmentSign(taskId, item.id, item.description)"
                  ng-if="sSelectedTask=='selfAssigned' && !isTableAttachment(item.description)">Перевірити ЕЦП
          </button>
        </div>
        <button style="position:relative;"
                ng-if="item.description !== ' '"
                type="button"
                class="btn btn-link attach-btn dropdown-toggle"
                data-toggle="dropdown"
                title="{{item.description}}">
          {{item.description | cut : true : 25}}
        </button>
      </div>
    </div>
  </div>

  </form>
<table-modal></table-modal>
<sign-info-content-dialog></sign-info-content-dialog>
