<style>
  label {
    margin-bottom: 0;
  }
  .empty-modal {
    width: 150px;
    height: 34px;
  }
  .open-full-info {
    position:fixed;
    top: 130px;
    right: 10px;
    z-index: 100;
  }
  .open-full-info a {
    font-size: 24px;
  }
  .open-full-info a:hover {
    text-decoration: none;
  }
  .documentUsers {
    margin-top: 20px;
  }
  .documentDate {
    float: right;
    /*margin-left: 10px;*/
  }
</style>

<div class="back-forward-btns" ng-class="{'col-xs-9':isMenuOpened, 'col-xs-12':!isMenuOpened, 'spinner-is-on': spinner}">
  <button class="btn btn-default" ng-click="backAndForth()">&#60;&#60;</button>

  <div style="float: right;">
    <button class="btn btn-default" ng-click="nextOrPrevTask(-1)">&#60;</button>
    <button class="btn btn-default" ng-click="nextOrPrevTask(1)">&#62;</button>
  </div>
</div>

<div class="tasks-form-view" ng-class="{'col-xs-9':isMenuOpened, 'col-xs-12':!isMenuOpened, 'spinner-is-on': spinner}">
  <show-error data="error" ng-show="error"></show-error>

  <div class="task-view-info">
    <h4 ng-show="sSelectedTask == 'all' && selectedTask.assignee">Призначено на: {{selectedTask.assignee}}</h4>
    <h4 ng-show="sSelectedTask == 'all' && selectedTask.assignee == null">Вільний тікет</h4>
    <button ng-show="sSelectedTask == 'all' && selectedTask.assignee" ng-click="unassign()" class="btn btn-success">Відкріпити</button>
  </div>

  <!--номер заявки и дата подачи-->
  <div class="task-number-date" style="margin-bottom: 10px">
    <h3 class="display-inline-block">{{'№ ' + nID_Process + lunaService.getLunaValue(nID_Process)}}</h3>
    <span class="float-right">від {{creationDateFormatted(taskData.oProcess.sDateCreate)}}</span>
  </div>

  <div style="position: relative; margin-bottom: 24px;">
    <span style="font-size: 18px">{{taskData.oProcess.sName}}</span>
  </div>

  <!--<div class="open-full-info">-->
    <!--<a class="btn btn-link glyphicon glyphicon-modal-window" title="Відкрити повний профіль задачі" href="/task?nID_Task={{selectedTask.id}}" ng-if="::isShowExtendedLink()"></a>-->
  <!--</div>-->

  <div class="btn-group task-form-tabs" ng-if="!inUnassigned()">
    <a ng-class="{'tab-is-selected' : tabHistoryAppeal === 'appeal', 'w-33': tabMenu === 'documents'}"
       class="btn btn-link">
      <span ng-if="tabMenu === 'tasks'">Завдання</span>
      <span ng-if="tabMenu === 'documents'">Документ</span>
    </a>

    <a ng-if="tabMenu === 'documents'"
       ng-class="{'tab-is-selected' : tabHistoryAppeal === 'fulfillment', 'w-33': tabMenu === 'documents'}"
       class="btn btn-link"
       ui-sref="tasks.typeof.fulfillment({id: taskId})">Виконання
    </a>

    <a ng-class="{'tab-is-selected' : tabHistoryAppeal === 'history', 'w-33': tabMenu === 'documents'}"
       class="btn btn-link"
       ui-sref="tasks.typeof.history({id: taskId})">
      <span ng-if="tabMenu === 'documents'">Iсторiя документу</span>
      <span ng-if="tabMenu === 'tasks'">Iсторiя завдання</span>
    </a>
  </div>

  <!--форма заявки-->
  <div ng-if="!clarify">
    <form name="form" novalidate style="padding-bottom: 70px">
      <div ng-repeat="item in taskForm" class="task-form-property row" ng-if="isFieldVisible(item)" ng-class="getBpAndFieldID(item)">
        <!-- сепаратор -->
        <div class="addition-hr" ng-if="insertOrdersSeparator(item.id).bShow">
          <table style="width: 100%; height: auto">
            <tr ng-if="insertSeparator(item.id).sText.length > 0">
              <td style="width: 30%; text-align: right">
                <hr class="hr-divider side-left" style="width: 95%;">
              </td>
              <td colspan="2" style="max-width: 40%; text-align: center">
                <span style="bottom: 0px; padding: 0px">{{insertOrdersSeparator(item.id).sText}}</span>
              </td>
              <td style="width: 30%; text-align: left">
                <hr class="hr-divider side-right" style="width: 95%;">
              </td>
            </tr>
            <tr ng-if="insertOrdersSeparator(item.id).sText.length == 0">
              <td style="width: 50%; text-align: right">
                <hr class="hr-divider side-left" style="width: 97%;">
              </td>
              <td style="width: 50%; text-align: left">
                <hr class="hr-divider side-right" style="width: 97%;">
              </td>
            </tr>
          </table>
        </div>

        <!--поле типа simple-field-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <simple-field></simple-field>
        </div>

        <!--поле типа date-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <date-field></date-field>
        </div>

        <!--поле типа text-area-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <textarea-field></textarea-field>
        </div>

        <!--поле типа enum-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <enum-field></enum-field>
        </div>

        <!--поле типа checkbox-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <checkbox-field></checkbox-field>
        </div>

        <!--поле типа select-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <select-field></select-field>
        </div>

        <!--поле типа fileHTML-->
        <div ng-if="item.value && isFormPropertyDisabled(item)">
          <file-html></file-html>
        </div>

        <!--поле типа user-->
        <p ng-if="item.type == 'user'">
          <label>{{sFieldLabel(item.name)}}</label>
          <input class="form-control"
                 name="{{item.id}}"
                 ng-disabled="true"
                 ng-required="isRequired(item)"
                 ng-model="item.value"
                 ng-class="{submitted:isRequired(item) && isTaskSubmitted()}"/>
        </p>

        <!--поле типа marker-->
        <label style="display: none;"
               ng-if="item.type == 'markers'"
               name="{{item.id}}"
               ng-required="isRequired(item)"
               class="form-control_">{{item.value}}
        </label>

        <span style="display: none;" ng-if="['invisible'].indexOf(item.type) > -1">
          <label>{{sFieldLabel(item.name)}} {{isRequired(item) && item.writable ? "*" : ""}}</label>
        </span>

        <span ng-if="['label'].indexOf(item.type) > -1 && item.value">
          <span class="col-sm-6 task-form-title" >
            <label>{{sFieldLabel(item.name)}} {{isRequired(item) && item.writable ? "*" : ""}}</label>
          </span>
          <span class="col-sm-6 task-form-written-right-sight">
            <label>{{item.value}}</label>
          </span>
        </span>

        <span ng-if="['queueData'].indexOf(item.type) > -1">
          <span class="col-sm-6 task-form-title">
            <label>{{sFieldLabel(item.name)}} {{isRequired(item) && item.writable ? "*" : ""}}</label>
          </span>
          <span class="col-sm-6 task-form-written-right-sight">
            <label title="{{nID_FlowSlotTicket_FieldQueueData(item.value)}}">{{sDate_FieldQueueData(item.value)}}</label>
          </span>
        </span>

        <div class="col-sm-6">
          <div ng-if="clarify && item.writable && (item.type==='string' || item.type==='textArea' || item.type==='date')"> <!--item.writable-->
            <input type="checkbox" ng-model="clarifyFields[item.id].clarify" id="{{item.id}}_clarify"/>
            <label for="{{item.id}}_clarify">Уточнити</label>
            <div ng-if="clarifyFields[item.id].clarify">
            <textarea ng-model="clarifyFields[item.id].text" class="form-control"
                      placeholder="Уточнення для {{sFieldLabel(item.name)}}">
            </textarea>
            </div>
          </div>
        </div>
      </div>

      <!--редактируемые поля для чиновника-->
      <hr class="hr-divider" ng-if="!inUnassigned() && isUnDisabledFields()">
      <div ng-repeat="item in taskForm" class="task-form-property row" ng-if="isFieldVisible(item) && !isFormPropertyDisabled(item)" ng-class="getBpAndFieldID(item)">

        <!-- сепаратор -->
        <div class="addition-hr" ng-if="insertSeparator(item.id).bShow">
          <table style="width: 100%; height: auto">
            <tr ng-if="insertSeparator(item.id).sText.length > 0">
              <td style="width: 30%; text-align: right">
                <hr class="hr-divider side-left" style="width: 95%;">
              </td>
              <td colspan="2" style="max-width: 40%; text-align: center">
                <span style="bottom: 0px; padding: 0px">{{insertSeparator(item.id).sText}}</span>
              </td>
              <td style="width: 30%; text-align: left">
                <hr class="hr-divider side-right" style="width: 95%;">
              </td>
            </tr>
            <tr ng-if="insertSeparator(item.id).sText.length == 0">
              <td style="width: 50%; text-align: right">
                <hr class="hr-divider side-left" style="width: 97%;">
              </td>
              <td style="width: 50%; text-align: left">
                <hr class="hr-divider side-right" style="width: 97%;">
              </td>
            </tr>
          </table>
        </div>

        <!--поле типа simple-field-->
        <simple-field></simple-field>

        <!--поле типа date-->
        <date-field></date-field>

        <!--поле типа text-area-->
        <textarea-field></textarea-field>

        <!--поле типа enum-->
        <enum-field></enum-field>

        <!--поле типа checkbox-->
        <checkbox-field></checkbox-field>

        <!--поле типа file-->
        <file-formfield></file-formfield>

        <!--поле типа table-->
        <table-field></table-field>

        <!--поле типа select-->
        <select-field></select-field>

        <!--поле типа fileHTML-->
        <file-html></file-html>

      </div>

      <!--атачи-->
      <div class="control-form-fields" ng-if="taskData.aAttachment.length > 0 || taskData.aNewAttachment.length > 0">
        <div class="addition-hr">
          <hr class="hr-divider side-left"><span>Додатки</span><hr class="hr-divider side-right">
        </div>

        <div ng-if="sSelectedTask !== 'unassigned'">
          <div class="dropup" ng-repeat="item in taskData.aAttachment" style="position:relative;">
            <div class="like-modal dropdown-menu drop-up" role="menu" style="bottom: 128%">
              <p>{{item.description | tableButtonFilter}}</p>
              <a href="/api/tasks/{{taskId}}/attachments/{{item.id}}/content/{{($index+1)}}"
                 target="_blank"
                 ng-if="!isTableAttachment(item.description)"
                 class="btn btn-info">Завантажити
              </a>
              <a ng-click="openTableAttachment(item.id, item.taskId)"
                 ng-if="isTableAttachment(item.description)"
                 class="btn btn-info">Переглянути
              </a>
              <button
                class="btn btn-info"
                ng-disabled="checkSignState.inProcess"
                ng-click="checkAttachmentSign(taskId, item.id, item.description)"
                ng-if="!isTableAttachment(item.description)">Перевірити ЕЦП
              </button>
            </div>
            <button style="position:relative;"
                    ng-if="item.description !== ' '"
                    type="button"
                    class="btn btn-link attach-btn idoc-attach-button dropdown-toggle"
                    data-toggle="dropdown"
                    title="{{item.description | tableButtonFilter}}">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              {{item.description | cut : true : 25 | tableButtonFilter}}
            </button>
          </div>

          <div class="dropup"
               ng-repeat="item in taskData.aNewAttachment"
               style="position:relative;">

            <div class="like-modal dropdown-menu drop-up" role="menu" style="bottom: 128%">
              <p>{{item.sFieldLabel | tableButtonFilter}}</p>
              <a href="/api/tasks/download/{{taskData.oProcess.nID}}/attachment/{{item.id}}"
                 target="_blank"
                 ng-if="!isTableAttachment(item) && item.type === 'file'"
                 class="btn btn-info">Завантажити
              </a>

              <a href="/api/tasks/download/{{takeTheKeyFromJSON(item)}}/attachment/Mongo/{{takeTheFileNameFromJSON(item)}}"
                 target="_blank"
                 ng-if="!isTableAttachment(item) && item.type === 'string'"
                 class="btn btn-info">Завантажити
              </a>
              <button
                class="btn btn-info"
                ng-disabled="checkSignState.inProcess"
                ng-click="checkAttachmentSign(taskData.oProcess.nID, item.id, item.name, true)"
                ng-if="!isTableAttachment(item)">Перевірити ЕЦП
              </button>
              <a ng-click="openTableAttachment(item.id, taskData.oProcess.nID, true)"
                 ng-if="isTableAttachment(item)"
                 class="btn btn-info">Переглянути
              </a>
            </div>
            <button style="position:relative;"
                    ng-if="item.name !== ' '"
                    type="button"
                    class="btn btn-link attach-btn idoc-attach-button dropdown-toggle"
                    data-toggle="dropdown"
                    title="{{item.sFieldLabel | tableButtonFilter}}">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
              {{item.sFieldLabel | cut : true : 25 | tableButtonFilter}}
            </button>
          </div>
        </div>
        <div ng-if="sSelectedTask === 'unassigned'" style="font-weight: bold; text-align: center">
          <span>Щоб переглянути додатки, необхідно взяти звернення в роботу</span>
        </div>
      </div>

      <!--document users role-->
      <div class="documentUsers">
        <div class="addition-hr" ng-if="documentLogins && documentLogins.length !== 0">
          <hr class="hr-divider side-left"><span>Узгодження</span><hr class="hr-divider side-right">
        </div>
        <div ng-if="documentLogins" ng-repeat="users in documentLogins" class="users-list">
          <div ng-if="users.aUser.length !== 0">
            <div ng-if="users.bWrite" class="col-xs-12 user-in-users-list" style="margin-bottom: 10px">
              <div class="col-xs-12" ng-repeat="user in users.aUser">

                <div class="col-xs-6">
                  <div style="float:right;">
                  <span ng-if="user.sLogin === user.sID_Group"
                        title="{{user.sLogin}}">
                    {{ user.sFIO }}
                    <span ng-if="users.sDate && users.sFIO_Referent"
                          title="{{users.sLogin_Referent}}"
                          style="font-weight: normal">
                      ({{users.sFIO_Referent}})
                    </span>
                  </span>
                  </div>
                  <span class="documentRole" style="float:right;">{{users.sName}}</span>
                </div>

                <div class="col-xs-6" ng-if="user.sLogin === user.sID_Group">
                  <div ng-if="!users.bNeedECP">
                    <span class="documentDate" style="float: left;">
                      <b ng-if="users.sDate">Узгоджено </b>
                      {{users.sDate ? '(' + users.sDate + ')' : 'Немає підпису'}}
                    </span>
                  </div>
                  <div ng-if="users.bNeedECP">
                    <span class="documentDate" style="float: left;">
                      <b ng-if="users.sDateECP">Узгоджено </b>
                      {{users.sDateECP ? '(' + users.sDateECP + ')' : 'Немає ЕЦП'}}</span>
                  </div>
                </div>

              </div>
            </div>

            <div ng-if="!users.bWrite" class="col-xs-12" style="margin-bottom: 10px">
              <div class="col-xs-12" ng-repeat="user in users.aUser">

                <div class="col-xs-6">
                  <div style="float: right;">
                  <span ng-if="user.sLogin === user.sID_Group"
                        title="{{user.sLogin}}"
                        style="font-weight: normal">
                    {{ user.sFIO }}
                    <span ng-if="users.sDate && users.sFIO_Referent" title="{{users.sLogin_Referent}}">
                      ({{users.sFIO_Referent}})
                    </span>
                  </span>
                  </div>
                  <span class="documentRole" style="float: right;">{{users.sName}}</span>
                </div>

                <div class="col-xs-6" ng-if="user.sLogin === user.sID_Group">
                  <span class="documentDate" style="float: left;">{{users.sDate ? users.sDate : 'Немає ознайомлення'}}</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="aProcessSubject && aProcessSubject.length !== 0">
        <!--<div ng-if="!inUnassigned()">-->
          <!--<a ng-click="openUsersHierarchy()"-->
             <!--class="btn btn-link attach-btn">Детальніше-->
          <!--</a>-->
        <!--</div>-->

        <h4>Виконавцi:</h4>
        <div ng-repeat="subject in aProcessSubject">
          <span ng-repeat="user in subject.aUser" ng-if="subject.sLogin === user.sLogin">
            {{user.sFirstName}} {{user.sLastName}} {{user.sLogin}}
            <p>(планова дата виконання: {{subject.sDatePlan | removeHoursFromDate}}; статус: {{subject.oProcessSubjectStatus.sName}})</p>
          </span>
        </div>
      </div>

      <div class="control-form-fields" ng-class="{'width-with-opened-menu':isMenuOpened, 'width-with-closed-menu':!isMenuOpened}" style="position:fixed; bottom: 0; background: white; z-index: 5;">

        <div class="main-form-controls" ng-init="checkForEmpty()">
          <div ng-if="(!clarify && inUnassigned()) || (!clarify && isDocument())" class="fixed-bottom-menu-buttons">
            <div ng-hide="selectedTask.assignee != null || sSelectedTask == 'all'">
              <button ng-click="assignTask()"
                      class="btn btn-info take-to-work-button"
                      style="background-color: #337ACF; outline: none; border: none"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess()"
                      ng-show="selectedTask.assignee == null && !isDocument()">Взяти в роботу
              </button>
              <button ng-click="assignAndSubmitDocument(form)"
                      class="btn btn-info take-to-work-button"
                      style="background-color: #337ACF; outline: none; border: none"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess() || !isDocumentNotSigned()"
                      ng-show="selectedTask.assignee == null && isDocument()">
                <span ng-if="documentRights.bWrite && isDocumentNotSigned()">
                  <span ng-if="!checkboxForAutoECP.status">Пiдписати</span>
                  <span ng-if="checkboxForAutoECP.status">Пiдписати ЕЦП</span>
                </span>
                <span ng-if="!isDocumentNotSigned()">Підписано</span>
                <span ng-if="!documentRights.bWrite && isDocumentNotSigned()">Ознайомлений</span>
              </button>
              <button ng-hide="sSelectedTask == 'finished' || inUnassigned()"
                      ng-click="saveChangesTask(form)"
                      class="btn btn-link"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess()">Зберегти
              </button>
              <label ng-show="isTaskInProcess() && !isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Зачекайте...</label>
              <label ng-show="isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Задачу направлено в роботу.</label>
            </div>
          </div>

          <div ng-if="!clarify && !inUnassigned()" class="fixed-bottom-menu-buttons">
            <div ng-hide="selectedTask.assignee == null || sSelectedTask == 'all' || documentRights">
              <button ng-hide="selectedTask.assignee == null || sSelectedTask == 'finished'"
                      ng-click="submitTaskQuestion(form)"
                      class="btn btn-info"
                      style="background-color: #337ACF; outline: none; border: none"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess()">Опрацювати
              </button>
              <button ng-hide="sSelectedTask == 'finished' || inUnassigned()"
                      ng-click="saveChangesTask(form)"
                      class="btn btn-link"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess()">Зберегти
              </button>
              <label ng-show="isTaskInProcess()&& !isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Зачекайте...</label>
              <label ng-show="isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Опрацьовано.</label>
            </div>

            <div ng-hide="selectedTask.assignee == null || sSelectedTask == 'all' || !documentRights">
              <button ng-hide="selectedTask.assignee == null || sSelectedTask == 'finished'"
                      ng-click="submitTask(form)"
                      class="btn btn-info"
                      style="background-color: #337ACF; outline: none; border: none"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess() || !isDocumentNotSigned()">
                <span ng-if="documentRights.bWrite && !isDocument() && isDocumentNotSigned">
                  <span ng-if="!checkboxForAutoECP.status">Пiдписати</span>
                  <span ng-if="checkboxForAutoECP.status">Пiдписати ЕЦП</span>
                </span>
                <span ng-if="!isDocumentNotSigned()">Підписано</span>
                <span ng-if="!documentRights.bWrite && !isDocument()">Ознайомлений</span>
                <span ng-if="isDocument() && isDocumentNotSigned()">Створити</span>
              </button>
              <button ng-hide="sSelectedTask == 'finished' || inUnassigned()"
                      ng-click="saveChangesTask(form)"
                      class="btn btn-link"
                      ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess()">Зберегти
              </button>
              <label ng-show="isTaskInProcess()&& !isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Зачекайте...</label>
              <label ng-show="isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Задачу опрацьовано.</label>
            </div>
          </div>

          <button ng-hide="!isRemoveDocumentButtonVisible()"
                  ng-click="removeDocument(selectedTask.processInstanceId)"
                  class="btn btn-danger"
                  ng-disabled="isTaskInProcess()">Видалити
          </button>

          <div ng-hide="(selectedTask.assignee === null && !isDocument())
           || sSelectedTask === 'finished'
           || sSelectedTask === 'all'
           || selectedTask.processDefinitionId.indexOf('system') == 0"
               class="fixed-bottom-menu-buttons"
               style="position:relative;">
              <div class="dropup" ng-if="!clarify && !inUnassigned()">
                <div class="print-form-div dropdown-menu drop-up" role="menu">
                  <div ng-repeat="item in printTemplateList">
                    <a href="#" ng-click="newPrint(form, item)">{{item.displayTemplate}}</a>
                  </div>
                </div>
                <button ng-if="printTemplateList.length > 0" class="btn btn-link dropdown-toggle" data-toggle="dropdown">Роздрукувати <i style="font-size: 11px" class="glyphicon glyphicon-chevron-down"></i></button>
                <button ng-if="printTemplateList.length === 0" ng-click="print()" class="btn btn-link dropdown-toggle" data-toggle="dropdown">Роздрукувати</button>
              </div>
            </div>

          <div style="display: inline-block;" ng-if="!inUnassigned() && bHasEmail">
            <div class="tasks-form-buttons-clarify" ng-if="sSelectedTask=='selfAssigned' && selectedTask.processDefinitionId.indexOf('system') != 0 && !isTaskSuccessfullySubmitted()">
              <button ng-if="!clarify" type="button" class="btn btn-link" ng-click="clarifyToggle()">Внести зауваження</button>
              <div ng-if="clarify" style="padding-top:5px;">
                <textarea class="form-control" placeholder="Коментар до зауваження" ng-model="clarifyModel.sBody"></textarea>
                <button type="button" class="btn btn-link" ng-click="clarifySend()">Відправити зауваження</button>
                <button type="button" class="btn btn-default" ng-click="clarifyToggle()">Відміна</button>
              </div>
            </div>
          </div>

          <div ng-if="isDocument()" class="fixed-bottom-menu-buttons">
            <delegate-button></delegate-button>
          </div>

          <div style="display:none;" ng-if="!inUnassigned()">
            <button class="btn btn-warning" style="border: none">Очікую відповідь</button>
          </div>

        </div>
      </div>
    </form>
  </div>

  <!--зауваження-->
  <div ng-if="clarify" style="overflow:hidden;">
    <clarify-directive></clarify-directive>
  </div>

  <!--<div class="task-form-history" ng-if="tabHistoryAppeal === 'history'">-->
    <!--<div ng-if="!inUnassigned()" ng-include="'app/tasks/taskFormHistoryNew.html'"></div>-->
  <!--</div>-->

</div>

<print-dialog></print-dialog>
<table-modal></table-modal>
<users-hierarchy-modal></users-hierarchy-modal>
<sign-info-content-dialog></sign-info-content-dialog>
