<div class="tasks-form-history" ng-show="aOrderMessage.length>0">
  <h4>Історія диалогу:</h4>
  <br>
  <div ng-repeat="oMessage in aOrderMessage">
    <div class="row">
      <span><b>{{oMessage.sDate}}</b>&nbsp;{{oMessage.sHead}}</span>
    </div>

    <div class="row" ng-bind-html="oMessage.sBody"></div>

    <div class="row" ng-repeat="oFile in oMessage.osData.aFile">
      Прикріплено файл: <a href="{{getMessageFileUrl(oMessage, oFile)}}" target="_blank">{{oFile.sFileName}}</a>
    </div>
  </div>
</div>
