<style>
  .task-form-title label{
    float: right;
    font-weight: normal;
  }
  .task-form-written-right-sight {
    font-weight: bold;
  }
  .padding-bottom-280 {
    padding-bottom: 280px;
  }
</style>
<form name="form" novalidate style="margin-top: 30px" ng-class="{'padding-bottom-280': inUnassigned()}">
  <div ng-repeat="item in taskForm" class="task-form-property" ng-if="isFieldVisible(item)">

          <span ng-if="['string', 'long'].indexOf(item.type) > -1 && item.value" class="col-sm-12" style="margin-bottom: 10px">
            <span class="col-sm-6 task-form-title">
              <field-title></field-title>
            </span>
            <span class="col-sm-6">
              <simple-field></simple-field>
            </span>
          </span>
          <span ng-if="['date'].indexOf(item.type) > -1">
            <field-title></field-title>
            <date-field></date-field>
          </span>

    <textarea-field></textarea-field>

    <user-field></user-field>

    <enum-field></enum-field>

    <file-formfield></file-formfield>

    <marker-field></marker-field>

          <span style="display: none;" ng-if="['invisible'].indexOf(item.type) > -1">
            <field-title></field-title>
          </span>

          <span ng-if="['label'].indexOf(item.type) > -1">
            <field-title></field-title>
            <label>{{item.value}}</label>
          </span>

          <span ng-if="['queueData'].indexOf(item.type) > -1">
            <field-title></field-title>
            <label title="{{nID_FlowSlotTicket_FieldQueueData(item.value)}}">{{sDate_FieldQueueData(item.value)}}</label>
          </span>

    <div ng-if="clarify && item.writable && (item.type==='string' || item.type==='textArea' || item.type==='date')"> <!--item.writable-->
      <input type="checkbox" ng-model="clarifyFields[item.id].clarify" id="{{item.id}}_clarify"/>
      <label for="{{item.id}}_clarify">Уточнити</label>

      <div ng-if="clarifyFields[item.id].clarify">
              <textarea ng-model="clarifyFields[item.id].text" class="form-control"
                        placeholder="Уточнення для {{sFieldLabel(item.name)}}"></textarea>
      </div>
    </div>
  </div>

  <div ng-show="taskData.aAttachment && !inUnassigned()">
    <p ng-repeat="item in taskData.aAttachment">
      Файл: <a href="/api/tasks/{{taskId}}/attachments/{{item.id}}/content/{{($index+1)}}"
               target="_blank"><b>{{item.description}}</b> ({{item.name}})</a>
      <button type="button" class="btn btn-success"
              ng-disabled="checkSignState.inProcess"
              ng-click="checkAttachmentSign(taskId, item.id, item.description)"
              ng-if="sSelectedTask=='selfAssigned'">Перевірити підпис</button>
    </p>
  </div>


  <div ng-hide="selectedTask.assignee === null || sSelectedTask === 'finished' || sSelectedTask === 'all' || selectedTask.processDefinitionId.indexOf('system') == 0" style="padding-top:5px;">
    <button ng-click="print(form)" class="btn btn-success">Роздрукувати</button>
    <select class="aPatternPrint form-control" ng-options="option.displayTemplate for option in printTemplateList track by option.id" ng-required ng-model="model.printTemplate" ng-hide="printTemplateList.length == 0 || selectedTask.assignee === null || sSelectedTask === 'finished'" >
    </select>
  </div>

  <div ng-if="!clarify" style="padding-top:5px;">
    <submittask-button ng-hide="selectedTask.assignee == null || sSelectedTask == 'all'"></submittask-button>
  </div>

  </form>
