<style>
  .toRight {
    float: right;
  }
</style>

<div ng-include="'components/navbar/navbar.html'" class="navbar-fixed-top"></div>

<snap-drawers style="top: 61px; background-color: #E4E4E4;">
  <snap-drawer>
    <div class="col-xs-12" style="padding-left: 10px; padding-right: 10px">
      <div class="btn-group menu-tabs" ng-if="!inUnassigned()">
        <a ng-class="{'menu-tab-is-selected' : tabMenu === 'documents'}"
           class="btn btn-link"
           ng-click="tabMenuChange('documents')">Документи</a>
        <a ng-class="{'menu-tab-is-selected' : tabMenu === 'tasks'}"
           class="btn btn-link"
           ng-click="tabMenuChange('tasks')">Звернення</a>
      </div>

      <div class="create-buttons">
        <button class="btn btn-default"
                ng-if="tabMenu === 'documents'"
                ui-sref="tasks.typeof.create({tab:'-doc'})"
                ng-disabled="usersDocumentsBPs.length === 0">Створити документ</button>
        <button class="btn btn-default"
                ng-if="tabMenu === 'tasks'"
                ui-sref="tasks.typeof.create({tab:'-task'})"
                ng-disabled="userTasksBPs.length === 0">Створити завдання</button>
      </div>

      <div style="margin-top: 20px">
        <ul class="menu-list" ng-if="tabMenu === 'documents'">
          <li ng-repeat="menu in iGovNavbarHelper.documentsMenus"
              ng-show="isVisible(menu.type)"
              ng-class="{'selected-menu-list': isTaskFilterActive(menu.type)}">

            <a class="navbar-nav-tab" ng-attr-id="{{menu.type}}"
               ng-if="menu.tab !== 'ecp'"
               ui-sref="tasks.typeof({type:menu.tab})">{{menu.title}}
              <span ng-if="menu.showCount" class="label counter">{{menu.count}}</span>
            </a>

            <a class="navbar-nav-tab" ng-attr-id="{{menu.type}}"
               ng-if="menu.tab === 'ecp'"
               ui-sref="tasks.typeof.ecp">{{menu.title}}
            </a>
          </li>
        </ul>

        <ul class="menu-list" ng-if="tabMenu === 'tasks'">
          <li ng-repeat="menu in iGovNavbarHelper.menus"
              ng-show="isVisible(menu.type)"
              ng-class="{'selected-menu-list': isTaskFilterActive(menu.type)}">

            <a class="navbar-nav-tab" ng-attr-id="{{menu.type}}"
               ui-sref="tasks.typeof({type:menu.tab})">{{menu.title}}
              <span ng-if="menu.showCount" class="label counter">{{menu.count}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </snap-drawer>
</snap-drawers>

<snap-content snap-opt-tap-to-close="false" style="top: 61px; background: #E4E4E4;">
  <div class="main tasks-form" ui-view>

    <div ng-if="spinner" ng-class="{'margin-left-35': isMenuOpened, 'margin-left-48': !isMenuOpened}">
      <img class="idoc-spinner" src="../../assets/images/idoc-spinner.gif" alt="Завантаження...">
    </div>

    <div class="form-group col-md-5 search-box-idoc" ng-class="{'toRight': !isMenuOpened}" style="margin-right: 15px; margin-left: 15px;">
      <search-box></search-box>
    </div>

    <div ng-class="{'col-xs-9': isMenuOpened, 'col-xs-12 ': !isMenuOpened}"
         igov-when-scrolled="whenScrolled()"
         id="tasks-list-holder">

      <div class="tasks">
        <div ng-if="sSelectedTask=='tickets'" class="tasks-tickets-list-header">
          <div class="tickets-date">
            <a href ng-repeat="mode in ticketsFilter.dateModeList" ng-click="setTicketsDateMode(mode.key)" ng-class="{'selected':ticketsFilter.dateMode==mode.key}"
               class="tickets-date-mode">{{mode.title}}</a>

            <div style="position: relative">
              <input datetimepicker
                     class="form-control date-picker"
                     type="text"
                     ng-change="applyTicketsFilter()"
                     options="{{ticketsFilter.options}}"
                     datetimepickerOptions="{format: 'YYYY-MM-DD'}"
                     ng-if="ticketsFilter.dateMode=='date'"
                     ng-model="ticketsFilter.sDate" />
            </div>
          </div>

          <div class="tickets-assign">
            <input type="checkbox" ng-model="ticketsFilter.bEmployeeUnassigned" id="ticketsFilter_bEmployeeUnassigned" ng-change="applyTicketsFilter()"
            />
            <label for="ticketsFilter_bEmployeeUnassigned">Тільки не взяті в обробку</label>
          </div>

          <div class="clearfix"></div>
        </div>

        <div class="list-group">
          <div ng-if="filteredTasks.length>0" id="tasks-list" ng-class="{'spinner-is-on': spinner}">

            <div ng-if="sSelectedTask=='tickets'">
              <a class="list-group-item task {{sSelectedTask}}_{{task.id}}"
                 ng-repeat="task in tasks"
                 title="Слот №{{task.nID_FlowSlot}} (Задача №{{task.nID_Task_Activiti}}, Процесс №{{task.nID_Instance}})"
                 ng-class="{'active': isTaskSelected(task)}"
                 igov-focus-if="tasksStateModel.taskId == task.id"
                 ui-sref="tasks.typeof.view({id:task.id})">
                <span class="ticket-date-time">{{task.sDateStart|date:'yyyy-MM-dd HH:mm'}}</span>, №{{task.nID_Instance}}{{lunaService.getLunaValue(task.nID_Instance)}},
                (Тікет №{{task.nID}})
                <br/> {{task.sNameBP}}. {{task.sUserTaskName}}.
              </a>
            </div>

            <div ng-if="sSelectedTask!='tickets'">
              <a class="list-group-item igov-tasks-list task {{sSelectedTask}}_{{task.processInstanceId}} {{ sTaskClass(task.taskDefinitionKey) }}" href=""
                 ng-repeat="task in filteredTasks | orderBy:predicate:reverse"
                 title="{{task.description}} (Задача №{{task.id}}, Процесс №{{task.processDefinitionId}})"
                 ng-class="{'active': isTaskSelected(task)}"
                 igov-focus-if="tasksStateModel.taskId == task.id"
                 ui-sref="tasks.typeof.view({id:task.id})"
                 date-divider>

                <!-- Task can have multiple statuses, but show only one sorted by priority -->
                <span class="badge badge-task badge-red" title="Ответ дан от гражданина" ng-if="hasTaskStatus(task, 'GotAnswer')">1</span>
                <span class="badge badge-task badge-yellow" title="Комментарий от гражданина" ng-if="hasTaskStatus(task, 'GotUpdate')">1</span>
                <span class="badge badge-task" title="Вопрос задан от госслужащего" ng-if="hasTaskStatus(task, 'WaitAnswer')">1</span>

                <span class="ticket-date-time" style="color:black;font-size:13px" ng-bind="::getProcessName(task)"></span><br>
                <span class="ticket-title" style="color: dimgrey;font-size: 11px;" ng-bind="::getTaskTitle(task)"></span>
              </a>
            </div>

          </div>

          <div class="text-center">
            <div ng-if="tasksLoading">
              <h3>Завантаження списку...</h3>
            </div>

            <div ng-if="tasksLoading===false && isLoadMoreAvailable()">
              <button class="btn btn-info" ng-click="loadMoreTasks()">Завантажити ще</button>
            </div>

            <div ng-if="tasksLoading===false && !isLoadMoreAvailable()">
              <h3>Більше задач не знайдено</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</snap-content>
