@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 93px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .main {
    padding-top: 20px;
    top: 93px;
  }
}

.tasks-form-view {
  overflow-y: auto; }

.tasks-form-buttons {
  padding-top:10px;
}

.tasks-form-history {
  padding-top:0;
}

.task-form-property {
  padding-top: 6px;
  padding-right: 6px; }

.tasks .tasks-tickets-list-header {
  line-height: 35px; }
  .tasks .tasks-tickets-list-header .tickets-assign {
    float: right; }
  .tasks .tasks-tickets-list-header .tickets-date {
    float: left; }
    .tasks .tasks-tickets-list-header .tickets-date .tickets-date-mode {
      margin-right: 10px; }
      .tasks .tasks-tickets-list-header .tickets-date .tickets-date-mode.selected {
        font-weight: bold;
        text-decoration: underline; }
    .tasks .tasks-tickets-list-header .tickets-date .form-control {
      display: inline;
      width: auto; }
.tasks .ticket-date-time {
  font-weight: bold; }

.task-list-header {
  display: table;
  width: 100%;
  margin-bottom: 10px; }

.task-list-header-row {
  display: table-row;
  width: 100%; }

.task-list-header-cell {
  display: table-cell; }

.right-aligned {
  float: right; }

.task-list-header-search {
  font-size: 12px;
  font-style: italic; }

/*# sourceMappingURL=tasks.css.map */
.submitted.ng-invalid {
  border:1px solid #a94442;
}

.sort-select {
  padding-bottom: 20px;
}

.task-view-info > h4,
.task-view-info > button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.validation-message {
  color: #a94442;
}

.task-form-title label{
  float: right;
  font-weight: normal;
  text-align: right;
}
.task-form-written-right-sight {
  font-weight: bold;
}
.take-to-work-button {
  margin-bottom: 30px;
}
.form-field {
  margin-bottom: 10px;
}
.task-form-property {
  padding-top: 3px;
  width: 99%;
}
.hr-divider {
  margin-bottom: 30px;
  margin-top: 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
}
.attach-btn, .attach-btn:hover, .attach-btn:focus, .main-form-controls .btn, .main-form-controls .btn:hover, .main-form-controls .btn:focus {
  border: 1px solid #337ab7;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
}
.like-modal {
  -webkit-box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.35);
  box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.35);
  width: inherit;
  position: absolute;
  bottom: 140%;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFCC;
  padding: 8px;
  display: none;
}
.like-modal::after {
  content: '';
  position: absolute;
  left: 15%;
  border: 10px solid transparent;
  border-top: 20px solid #FFFFCC;
  bottom: -24px;
}
.like-modal .btn, .like-modal .btn:hover, .like-modal .btn:focus {
  width: 100%;
  margin-top: 8px;
  background: #337ACF;
  outline: none;
  border-color: #337ACF;
}

.like-modal span {
  height: 47%;
}
.main-form-controls {

}
.addition-hr .side-left, .addition-hr .side-right {
  width: 41%;
  display: inline-block;
}
.addition-hr .side-left {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
}
.addition-hr .side-right {
  background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
}
.addition-hr span {
  position: relative;
  bottom: 25px;
  font-size: 16px;
  color : #CCCCCC;
  padding: 30px;
}
.task-form-tabs {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.tab-is-selected {
  border: 1px solid #337ACF !important;
  background: #337ACF !important;
  color: white !important;
  text-decoration: none;
}
.task-form-tabs a, .task-form-tabs a:hover {
  text-decoration: none;
  border-radius: 0;
  width: 50%;
  border: 1px solid #337ACF;
  color: #337ACF;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: white;
}
.task-form-tabs a:focus, .task-form-tabs a:active {
  text-decoration: none;
}
.task-number-date h3{
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: bold;
}
.display-inline-block {
  display: inline-block;
}
.float-right {
  float: right;
}
.print-form-div {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  bottom: 90%;
  background: white;
  padding: 8px;
  min-width: 150px;
  position:absolute;
  display: none;
}
.print-form-div a {
  white-space: pre;
}
.task-form-property {
  padding-top: 0;
}
.main-form-controls::before {
  content: "";
  display: block;
  height: 1px;
  width: 57%;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
}
.modal-success .modal-header {
  background: #337ACF !important;
}

.modal-success .btn-success, .modal-success .btn-success:hover, .modal-success .btn-success:focus, .modal-success .btn-success.focus, .modal-success .btn-success:active, .modal-success .btn-success.active {
  background-color: #337ACF;
  border: none;
  outline: none;
}
.btn-igov, .btn-igov:hover, .btn-igov:focus {
  background-color: #337ACF;
  border: none;
  outline: none;
  color: white;
}
.fixed-bottom-menu-buttons {
  padding-top:5px;
  display:inline-block;
  position: relative;
}


 /*Checkbox indeterminate start*/

   .checkbox-indeterminate {
     position: relative;
     clear: both;
   }

.checkbox-indeterminate label {
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0;
  background: #9acfea;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
}

.checkbox-indeterminate input[type=checkbox]:indeterminate {
  visibility: hidden;
}

 /*Checkbox indterminate end*/

/* badge styles */
.badge-task {
  font-size: smaller;
  margin-top: -10px;
  margin-right: -15px;
  border-radius: 0 0 0 25px;
  background-color: darkgray !important;
  color: white !important;
}

.badge-red {
  background-color: red !important;
}

.badge-yellow {
  background-color: orange !important;
}

/* define badge visibility: if red - do not show others, if yellow - do not show gray */
.badge-red ~ .badge {display: none;}
.badge-yellow + .badge {display: none;}

.field-table table {
  width: 95%;
  table-layout: fixed;
  float: right;
}
.field-table table thead tr th {
  background: -moz-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(239, 239, 239, 1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 252, 252, 1)), color-stop(100%, rgba(239, 239, 239, 1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(239, 239, 239, 1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(239, 239, 239, 1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(252, 252, 252, 1) 0%, rgba(239, 239, 239, 1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(239, 239, 239, 1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#EFEFEF', GradientType=0); /* ie6-9 */
  padding: 5px;
  border: 1px solid lightgrey;
  text-align: center;
}
.field-table table thead tr th:last-child {
   background: transparent;
 }
.field-table table thead tr th span {
  font-weight: normal;
  font-size: 14px;
}

.field-table table tbody tr td {
  position: relative;
  padding: 5px;
}
.field-table table tbody tr td:hover {
   background-color: transparent;
}

.remove-btn {
  margin-left: 5px;
  margin-top: 1px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color:#f9f9f9;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family: "Open Sans";
  font-size:15px;
  font-weight:bold;
  padding:2px 6px 0px 6px;
  text-decoration:none;
  text-shadow:0px 0px 0px #ffffff;
}
.remove-btn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
  background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color:#e9e9e9;
}
.remove-btn:active {
  position:relative;
  top:1px;
}

.inputs-in-table {
  border: none;
  width: 100%;
  padding: 6px;
  position: relative;
}

.table-field-invalid {
  border: 1px solid #a94442;
}

.error-popup {
  position: absolute;
  bottom: 50px;
  background: #FFFFCC;
  border: 1px solid #a94442;
  border-radius: 3px;
  z-index: 10;
}

.error-popup::after {
  content: '';
  position: absolute;
  left: 20px; bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid #FFFFCC;
}

.error-popup p {
  padding: 5px;
  color: #a94442;
}

.add-row-button, .add-row-button:hover, .add-row-button:active, .add-row-button:focus {
  background: #FFFFFF;
  background-image: -webkit-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: -moz-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: -ms-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: -o-linear-gradient(top, #FFFFFF, #F2F2F2);
  background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 4px #AEAEAE;
  -moz-box-shadow: 2px 2px 4px #AEAEAE;
  box-shadow: 2px 2px 4px #AEAEAE;
  font-family: "Open Sans";
  color: #666666;
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
  outline:none;
  border:none;
  margin: 1% 0 0 5%;
}

 .ui-select-match-text {
   overflow: hidden;
   width: inherit;
   padding-right: 10px;
 }
.ui-select-match-text * {
  overflow: hidden;
  display: block;
}
.form-control.ui-select-search {
  width: 100% !important;
}

.dropdown-menu {
  padding-top: 0;
}
