@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 93px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 20px 20px 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

  .main {
    padding-top: 20px;
    top: 93px;
  }
}

.tasks-form-view {
  overflow-y: auto; }

.tasks-form-buttons {
  padding-top:10px;
}

.tasks-form-history {
  padding-top:0;
}

.task-form-property {
  padding-top: 6px;
  padding-right: 6px; }

.tasks .tasks-tickets-list-header {
  line-height: 35px; }
  .tasks .tasks-tickets-list-header .tickets-assign {
    float: right; }
  .tasks .tasks-tickets-list-header .tickets-date {
    float: left; }
    .tasks .tasks-tickets-list-header .tickets-date .tickets-date-mode {
      margin-right: 10px; }
      .tasks .tasks-tickets-list-header .tickets-date .tickets-date-mode.selected {
        font-weight: bold;
        text-decoration: underline; }
    .tasks .tasks-tickets-list-header .tickets-date .form-control {
      display: inline;
      width: auto; }
.tasks .ticket-date-time {
  font-weight: bold; }

.task-list-header {
  display: table;
  width: 100%;
  margin-bottom: 10px; }

.task-list-header-row {
  display: table-row;
  width: 100%; }

.task-list-header-cell {
  display: table-cell; }

.right-aligned {
  float: right; }

.task-list-header-search {
  font-size: 12px;
  font-style: italic; }

/*# sourceMappingURL=tasks.css.map */
.submitted.ng-invalid {
  border:1px solid #a94442;
}

.sort-select {
  padding-bottom: 20px;
}

.task-view-info > h4,
.task-view-info > button {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.validation-message {
  color: #a94442;
}

.task-form-title label{
  float: right;
  font-weight: normal;
  text-align: right;
}
.task-form-written-right-sight {
  font-weight: bold;
}
.take-to-work-button {
  margin-bottom: 30px;
}
.form-field {
  margin-bottom: 10px;
}
.task-form-property {
  padding-top: 3px;
  width: 99%;
}
.hr-divider {
  margin-bottom: 30px;
  margin-top: 30px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
}
.attach-btn, .attach-btn:hover, .attach-btn:focus, .main-form-controls .btn, .main-form-controls .btn:hover, .main-form-controls .btn:focus {
  border: 1px solid #337ab7;
  outline: none;
  border-radius: 3px;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
}
.like-modal {
  -webkit-box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.35);
  box-shadow: 10px 10px 8px -2px rgba(0,0,0,0.35);
  width: inherit;
  position: absolute;
  bottom: 140%;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  background: #FFFFCC;
  padding: 8px;
  display: none;
}
.like-modal::after {
  content: '';
  position: absolute;
  left: 15%;
  border: 10px solid transparent;
  border-top: 20px solid #FFFFCC;
  bottom: -24px;
}
.like-modal .btn, .like-modal .btn:hover, .like-modal .btn:focus {
  width: 100%;
  margin-top: 8px;
  background: #337ACF;
  outline: none;
  border-color: #337ACF;
}

.like-modal span {
  height: 47%;
}
.main-form-controls {

}
.addition-hr .side-left, .addition-hr .side-right {
  width: 41%;
  display: inline-block;
}
.addition-hr .side-left {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75));
}
.addition-hr .side-right {
  background-image: -webkit-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:    -moz-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:     -ms-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
  background-image:      -o-linear-gradient(right, rgba(0,0,0,0), rgba(160,160,160,0.75));
}
.addition-hr span {
  position: relative;
  bottom: 25px;
  font-size: 16px;
  color : #CCCCCC;
  padding: 30px;
}
.task-form-tabs {
  width: 100%;
  margin-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
}
.tab-is-selected {
  border: 1px solid #337ACF !important;
  background: #337ACF !important;
  color: white !important;
  text-decoration: none;
}
.task-form-tabs a, .task-form-tabs a:hover {
  text-decoration: none;
  border-radius: 0;
  width: 50%;
  border: 1px solid #337ACF;
  color: #337ACF;
  font-size: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: white;
}
.task-form-tabs a:focus, .task-form-tabs a:active {
  text-decoration: none;
}
.task-number-date h3{
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 22px;
  font-weight: bold;
}
.display-inline-block {
  display: inline-block;
}
.float-right {
  float: right;
}
.print-form-div {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  bottom: 90%;
  background: white;
  padding: 8px;
  min-width: 150px;
  position:absolute;
  display: none;
}
.print-form-div a {
  white-space: pre;
}
.task-form-property {
  padding-top: 0;
}
.main-form-controls::before {
  content: "";
  display: block;
  height: 1px;
  width: 57%;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(160,160,160,0.75), rgba(0,0,0,0));
}
.modal-success .modal-header {
  background: #337ACF !important;
}

.modal-success .btn-success, .modal-success .btn-success:hover, .modal-success .btn-success:focus, .modal-success .btn-success.focus, .modal-success .btn-success:active, .modal-success .btn-success.active {
  background-color: #337ACF;
  border: none;
  outline: none;
}
.btn-igov, .btn-igov:hover, .btn-igov:focus {
  background-color: #337ACF;
  border: none;
  outline: none;
  color: white;
}
.fixed-bottom-menu-buttons {
  padding-top:5px;
  display:inline-block;
  position: relative;
}


 /*Checkbox indeterminate start*/

   .checkbox-indeterminate {
     position: relative;
     clear: both;
   }

.checkbox-indeterminate label {
  width: 13px;
  height: 13px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0;
  background: #9acfea;
  border-radius: 3px;
  border: 1px solid #c0c0c0;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1);
}

.checkbox-indeterminate input[type=checkbox]:indeterminate {
  visibility: hidden;
}

 /*Checkbox indterminate end*/

/* badge styles */
.badge-task {
  font-size: smaller;
  margin-top: -10px;
  margin-right: -15px;
  border-radius: 0 0 0 25px;
  background-color: darkgray !important;
  color: white !important;
}

.badge-red {
  background-color: red !important;
}

.badge-yellow {
  background-color: orange !important;
}

/* define badge visibility: if red - do not show others, if yellow - do not show gray */
.badge-red ~ .badge {display: none;}
.badge-yellow + .badge {display: none;}
