.idoc-search {
  padding: 0 15px 0 15px;
}
.idoc-search.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 10px;
}
.idoc-search .dropdown-menu-right {
  min-width: 465px;
}
.idoc-search.input-group-btn .btn-group {
  display: flex !important;
}
.idoc-search.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.search-box label {
  display: block;
}
.search-box .row {
  margin-bottom: 10px;
}
.search-box .author {
  padding-right: 0;
  padding-left: 0;
  padding-top: 25px;
  text-align: right;
  font-size: 12px;
}
.search-box-dropdown {
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: white;
  border-left: none;
  box-shadow: none;
}
.search-box-dropdown:hover, .search-box-dropdown:active, .search-box-dropdown.active, .search-box-dropdown:focus {
  background: white !important;
  border-left: none !important;
  border-color: #ccc !important;
  box-shadow: none !important;
}
@media screen and (min-width: 768px) {
  .idoc-search#adv-search {
    width: 500px;
    margin: 0 auto;
  }
  .idoc-search.dropdown.dropdown-lg {
    position: static !important;
  }
  .idoc-search.dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}
@media (max-width: 767px) {
  .search-box {
    /*width: 80% !important;*/
  }
  .idoc-search-dropdown {
    right: -315%;
    min-width: 365px !important;
  }
  .search-box .form-control {
    width: 100%;
  }
  .remove-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .add-margin-bottom {
    margin-bottom: 10px !important;
  }
  .search-box .author {
    display: block;
  }
}
.input-group-btn .btn-group {
  display: flex !important;
}
.idoc-search-button {
  margin-bottom: 1px;
  border-bottom-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  width: 90px;
}
