<div class="idoc-search">
  <div class="row">
    <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control searched-text" style="border-right: none;" placeholder='Пошук у "{{::currentTab()}}"' />
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <div class="dropdown dropdown-lg">
              <button type="button" class="btn btn-default dropdown-toggle search-box-dropdown"><span class="caret"></span></button>
              <div class="dropdown-menu dropdown-menu-right idoc-search-dropdown" role="menu">
                <div class="col-md-12 search-box">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-xs-offset-11 col-md-1">
                        <span style="cursor: pointer;" class="glyphicon glyphicon-remove close-search-box"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <select class="form-control">
                        <option value="this tab">Пошук в нерозглянутих</option>
                        <option value="all">Пошук серед усiх документiв</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Дата</label>
                      <div class="col-md-6 remove-padding" style="padding-left: 0">
                        <select class="form-control add-margin-bottom">
                          <option value="realization">Перiод виконання</option>
                          <option value="creation">Перiод створення</option>
                        </select>
                      </div>
                      <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                        <input type="date" class="form-control add-margin-bottom" style="width: 100%">
                      </div>
                      <div class="col-md-3" style="padding-left: 0; padding-right: 0">
                        <input type="date" class="form-control add-margin-bottom" style="width: 100%">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Шаблон документу</label>
                      <select class="form-control">
                        <option value="default">-Оберiть шаблон-</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Мiстить слова</label>
                      <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-9">
                      <label>Автор</label>
                      <input type="text" class="form-control">
                    </div>
                    <div class="col-md-3" style="text-align: right;margin-top: 23px;line-height: 1.3;">
                      <a class="author">Я автор документу</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>Додаткова ознака</label>
                      <select class="form-control" style="margin-bottom: 10px;">
                        <option value="default">-Оберiть додаткову ознаку-</option>
                        <option value="income_number">Вхiдний номер</option>
                      </select>
                      <div class="col-md-6 remove-padding" style="padding-left: 0">
                        <select class="form-control add-margin-bottom">
                          <option value="3">Дорівнює</option>
                          <option value="1">Мiстить</option>
                          <option value="0">Починається з</option>
                          <option value="2">Закінчується на</option>
                        </select>
                      </div>
                      <div class="col-md-6 remove-padding" style="padding-right: 0">
                        <input type="text" class="form-control" placeholder="Значення">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12" style="padding-bottom: 10px;padding-top: 10px;">
                      <a>Додати ознаку</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-4 remove-padding" style="padding-left: 0">
                        <input type="button" class="btn btn-info add-margin-bottom" value="Шукати" style="width: 100%">
                      </div>
                      <div class="col-md-offset-2 col-md-6 remove-padding" style="padding-right: 0">
                        <input type="button" class="btn btn-warning add-margin-bottom" value="Зберегти фiльтр" style="width: 100%">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-default idoc-search-button" style="margin-bottom: 1px"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
