.i-gov-navbar {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0px;
}
.i-gov-navbar-instruments-container {
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 45px;
}
.i-gov-navbar-instruments {
  border: 0px !important;
  display: block;
  outline: none;
  width: 80px;
}
.i-gov-navbar-instruments:focus {
  outline: none;
}
.i-gov-navbar-fillter {
  position: fixed;
  left: 0;
  top: 51px;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
  box-shadow: 0 2px 1px #e4e4e4;
  margin: 0;
  padding: 10px;
  z-index: 1004;
}
.isFillterFormOpen {
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  background-color: #f5f5f5;
  box-shadow: 0 2px 0 #e4e4e4;
  padding: 10px 0 0 30px;

}
.filter-field-select .ui-select-choices {
  position: static;
  top: auto;
  left: auto;
  width: 400px !important;
}
.pull-right {
  padding: 5px;
}
.primary_button {
  padding: 5px;
  background-color: #169bd5;
  cursor: pointer;
}
.i-gov-navbar-fillter a.tiggle-filter {
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 60px;
  font-style: italic;
}
.form-horizontal {
  padding: 15px;
}
.form-horizontal .col-sm-4 {
  width: 220px;
}
.input-sm {
  width: 300px;
}
.i-gov-navbar-fillter .btn-filter-remove {
  background: darkgray;
  color: #FFFFFF;
}
.i-gov-navbar-fillter .btn-filter-remove .filter-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;;
}
.i-gov-navbar-fillter .btn-filter-remove * {
  vertical-align: middle
}
.i-gov-navbar-fillter .btn-filter-remove .glyphicon {
  top: 0;
  color: #FFFFFF;
  text-decoration: none;
}
.navbar-nav-tab{
  cursor: pointer;
}
.find-field-tooltip {
  position: relative;
}
.find-field-tooltip span {
  position: absolute;
  margin-left: -30000px;
  background-color: #FFFFD6;
  padding:10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 4px 3px 8px rgba(0,0,0,0.5);
}
.find-field-tooltip:hover span {
  margin-left: 0;
  width: 200px;
  z-index: 3000;
  top:30px;
  left:20px;
}
.find-field-tooltip span:after{
  content: '';
  width:0;
  height:0;
  border-bottom: 10px solid #FFFFD6;
  border-right: 30px solid transparent;
  position: absolute;
  top:-10px;
  left:10px;
}
.archive-container {
  z-index : 10000;
  position : fixed;
  max-width : 60%;
  display: inline-block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: white;
  box-shadow: 4px 4px 80px black;
  border-radius: 5px;
  max-height: 90%;
  padding-bottom: 20px;
  width: auto !important;
}
.archive-close {
  display: block;
  float: right;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  padding-right: 15px;
  cursor: pointer;
}
.archive-main-content {
  overflow-y: auto;
  max-height: 88%;
  height: 85%;
  margin-top: 5%;
  padding: 20px;
  text-align: left;
  clear: both;
  background: whitesmoke;
}
.archive-main-content label {
  font-size: 17px;
  padding-top: 5px
}
.archive-main-content span {
  font-size: 17px;
}
.archive-load {
  float: right;
  padding: 10px;
  margin-right: 20px;
  margin-top: 5px;
}
.archive-error {
  border-color: #a94442;
}

.right-menu-group .document-button {
  margin-top: 2%;
  position:relative;
}

/*.right-menu-group .document-button .btn-info {*/
  /*background-color: #337ACF;*/
  /*outline: none;*/
  /*border: 1px solid white;*/
/*}*/

.right-menu-group .document-button .document-select-block {
  height: 34px;
  width:310px;
  position:absolute;
  background: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  top: 4px;
  right: 102%;
}

.move-select-block-to-bottom {
  top: 4px;
}

.move-group-buttons-to-top {
  margin-top: 1% !important;
}
