.i-gov-navbar {
  padding-left: 20px;
  padding-right: 20px;
}
.i-gov-navbar-instruments-container {
  height: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 45px;
}
.i-gov-navbar-instruments {
  border: 0px !important;
  display: block;
  width: 80px;
}
