<div class="row" ng-controller="NavbarCtrl">
  <div ng-hide="hideNaviWhenLoginPage()">
    <div class="navbar navbar-static-top i-gov-navbar">
      <div class="container-fluid nav-header-fluid">

        <div ng-if="iGovNavbarHelper.auth.isLoggedIn()" class="navbar-header">
          <div class="igov-hamburger">
            <a snap-toggle ng-click="toggleMenu()" style="cursor: pointer;">
              <div class="idoc-hamburger-part"></div>
              <div class="idoc-hamburger-part"></div>
              <div class="idoc-hamburger-part"></div>
            </a>
          </div>

          <p class="navbar-text idoc-emblem" style="cursor:pointer;" ng-click="backToTasks()" ng-show="ProjectRegion_MainPage_bTasksOnly=='FALSE'">
            <span>iDoc</span><span>powered by iGov</span>
          </p>

          <p class="navbar-text idoc-emblem" style="cursor:pointer;" ng-click="backToTasks()" ng-show="ProjectRegion_MainPage_bTasksOnly=='TRUE'">
            <span>iGov</span><span>powered by volunteers</span>
          </p>

          <div class="navbar-text divider-separator"></div>

          <p class="navbar-text navbar-idoc-text idoc-about" ng-show="ProjectRegion_MainPage_bTasksOnly=='FALSE'">
          <span class="idoc-about-span">
              <span>система</span><span>електронного</span><span>документообiгу</span>
            </span>
          </p>

          <p class="navbar-text navbar-idoc-text idoc-about" ng-show="ProjectRegion_MainPage_bTasksOnly=='TRUE'">
            <span class="idoc-about-span">
              <span>адміністративний</span><span>інтерфейс</span><span>системи</span>
            </span>
          </p>

          <button type="button" class="navbar-toggle collapsed idoc-user-mobile-hamburger" data-toggle="collapse" data-target="#dropdown-user-menu" aria-expanded="false" ng-click="openCloseMenu()">
            <i class="glyphicon glyphicon-menu-hamburger" style="color: white;"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse" collapse="navBarIsCollapsed" id="dropdown-user-menu" ng-if="iGovNavbarHelper.auth.isLoggedIn()">

          <ul class="nav navbar-nav navbar-right" style="margin-top: 5px;">
            <li class="dropdown">
              <a class="dropdown-toggle idoc-user-config-menu" role="button" aria-haspopup="true" aria-expanded="false">
                {{getCurrentUserName()}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dashboard-settings-menu" style="overflow: hidden; max-height: none;border-radius: 4px;">

                <li style="text-align: center; cursor: default;"><span>{{getCurrentUserName()}}</span></li>

                <li role="separator" class="idoc-divider"></li>

                <li><a href="#" ng-class="{'isActiveTab': isActive('tasks.typeof')}" ng-click="backToTasks()">Документи / задачi</a></li>

                <li><a href="#" ng-class="{'isActiveTab': isActive('profile')}" ng-click="goToProfile()">Мiй Профіль</a></li>

                <li ng-repeat="menuItem in iGovNavbarHelper.instrumentsMenus"
                    ng-class="{'isActiveTab': isActive(menuItem.state)}"
                    ng-show="isVisibleInstrument(menuItem.state)">
                  <a ui-sref="{{::menuItem.state}}" ng-bind="::menuItem.title"></a>
                </li>

                <li role="separator" class="idoc-divider"></li>
                <li style="padding: 1px 20px" ng-click="$event.stopPropagation()">
                  <div class="checkbox">
                    <label class="ecp-description-for-checkbox" style="font-size: 1em">
                      <input type="checkbox" ng-model="checkboxForAutoECP.status">
                      <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                      Авто пiдпис ЕЦП
                    </label>
                  </div>
                </li>

                <li>
                  <a href="#" ng-click="showSignDialog()">Підписати файл</a>
                </li>

                <li role="separator" class="idoc-divider"></li>
                <li><a href="#" ng-click="logout()">Вийти</a></li>
              </ul>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
