<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="navbar navbar-default navbar-static-top i-gov-navbar" ng-controller="NavbarCtrl">

      <div ng-if="iGovNavbarHelper.auth.isLoggedIn()" class="navbar-header i-gov-navbar-instruments-container">
        <a href="#" class="i-gov-navbar-instruments" ng-click="iGovNavbarHelper.areInstrumentsVisible = !iGovNavbarHelper.areInstrumentsVisible">
          <img ng-show="!iGovNavbarHelper.areInstrumentsVisible" src="assets/images/u93.png">
          <img ng-show="iGovNavbarHelper.areInstrumentsVisible" src="assets/images/u95.png">
        </a>
      </div>

      <div ng-if="iGovNavbarHelper.auth.isLoggedIn()" collapse="iGovNavbarHelper.isCollapsed" class="navbar-collapse collapse" id="navbar-main">

        <ul class="nav navbar-nav" ng-show="!iGovNavbarHelper.areInstrumentsVisible" ng-init="iGovNavbarHelper.load()">
          <li class="navbar-search">
            <input type="text" ng-keyup="searchInputKeyup($event)" ng-model="tasksSearch.value" placeholder="Пошук" />

            <span class="label label-info" ng-if="tasksSearch.value && !tasksSearch.loading && tasksSearch.submited"
              ng-bind="tasksSearch.count"></span>

            <span class="label label-info" ng-if="tasksSearch.value && tasksSearch.loading && tasksSearch.submited">...</span>
          </li>

          <li ng-repeat="menu in iGovNavbarHelper.menus"
              ng-show="isVisible(menu.type)"
              ng-class="{active: isTaskFilterActive(menu.type)}">
            <a ng-if="!applyTaskFilter" ng-attr-id="{{menu.type}}" ng-click="goToTasks(menu.tab)">{{menu.title}}
              <span ng-if="menu.showCount" class="label label-info">{{menu.count}}</span>
            </a>

            <a ng-if="applyTaskFilter" ng-attr-id="{{menu.type}}" ng-click="!!tasksLoading || goToTasks(menu.tab)">{{menu.title}}
              <span ng-if="menu.showCount" class="label label-info">{{menu.count}}</span>
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav" ng-if="iGovNavbarHelper.isTest && iGovNavbarHelper.areInstrumentsVisible">
          <li ng-repeat="menuItem in iGovNavbarHelper.instrumentsMenus"
              ng-class="{'active': isSelectedInstrumentsMenu(menuItem)}">
            <a ui-sref="{{::menuItem.state}}" ng-bind="::menuItem.title"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">{{getCurrentUserName()}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="goToProfile()">Профіль</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="logout()">Вийти</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
